[2015-01-11 10:21] plouc opened #1 "Config should be filtered when consumed from frontend"
Actually, the *api* config section is embedded when consumed from the web-app, a filtered version should be exposed.

[2015-01-12 06:47] plouc opened #2 "Add gitlab widgets"

[2015-01-14 08:07] plouc opened #3 "Add missing component tests"

[2015-01-14 08:08] plouc opened #4 "Enable per service polling"

[2015-01-15 13:12] plouc opened #5 "Add support for WSS"

[2015-01-15 17:49] plouc opened #6 "Use viewport size for css dimensions"
Make use of vw / vh / vmin / vmax units for better rendering on any device and screen size

[2015-01-15 18:35] plouc opened #7 "Add an optional title for each dashboard"

[2015-01-15 22:33] plouc commented on #1
Fixed by aa65906c05ce53c720ee442f422fa82692045e33

[2015-01-15 22:33] #1 closed

[2015-01-17 11:18] plouc commented on #6
Themes and core css updated, but some widgets are not yet responsive.

[2015-01-17 11:18] #6 closed

[2015-01-23 21:54] gutobortolozzo opened #9 "Jenkins views"
I would like to suggest one Jenkins Widget to monitor views, Providing information about percentage of time that view spent blue, yellow and green for instance.

What you think about this idea ? And expand to aggregate other metrics from views ?

[2015-01-24 04:14] 21cDawn opened #10 "Let's get a chat room!"
This is awesome, saw it from daily.js email list!

I was digging around to see if I had to build it from scratch, and I'm glad I found this place! Bonus it's in my favorite languages, react and node.js.

We need an IRC or something! Where do you guys currently chat?

[2015-01-25 08:32] plouc commented on #10
Hi,
Thank you, I'm pleased to know this tool can be useful to someone.
Unfortunately, I don't really chat, sorry.

[2015-01-25 08:32] #10 closed

[2015-01-25 09:44] 21cDawn commented on #10
So then this is a project about you, not it's users. gotcha.

"just another dev who doesn’t get the purpose of open source in society"
"move on; fork at will...."

[2015-01-25 09:46] 21cDawn commented on #10
That said: I want to see this project succeed, and you are it's captain. I beg you reconsider.

[2015-01-25 10:28] plouc commented on #9
@gutobortolozzo it could be interesting, I dont' know which data the jenkins API expose for views for now, but I often use the pipeline plugin and the pipeline view is also very interesting. Are you comfortable with react/node, interested in contributing ?

[2015-01-26 13:48] winkler1 opened #11 "Please put up a demo of a real dashboard"
Cool project... Could not find an actual demo on the GH pages site, maybe I missed it? I'd like to add to react.rocks, need a demo. Thanks!

[2015-01-26 14:59] plouc commented on #11
@winkler1 you have a running demo on heroku http://mozaik.herokuapp.com/

[2015-01-26 15:08] winkler1 commented on #11
OK, thanks, that looks great.

[2015-01-26 15:08] #11 closed

[2015-01-26 23:35] plouc commented on #9
@gutobortolozzo I've added a simple jenkins 'view' widget, see https://github.com/plouc/mozaik/wiki/Jenkins-Widgets#jenkins-view

[2015-01-26 23:35] #9 closed

[2015-01-27 00:42] gutobortolozzo commented on #9
@plouc, looks really nice. I will try and later I will give you a better feedback.

About the question, "interested in contributing?" Sure, just give me some issue to develop :)

[2015-01-27 08:36] plouc opened #12 "Add twitter hashtag pie widget"

[2015-01-28 18:32] #12 closed

[2015-01-28 22:04] plouc opened #14 "Add twitter hashtags treemap widget"

[2015-01-29 23:14] #14 closed

[2015-02-03 06:57] sukhmeet2390 opened #15 "Add simple widget to add hyperlinks"
Can add simple links which are useful across the team , so there is just one dashboard to go to and can reach other links from this page itself

[2015-02-06 21:26] cluebcke opened #17 "Unexpected "indent" in src/core/styl/_mixins.styl"
When running `gulp publish` for the first time, I encountered the following error:
[code]
I've fixed it (pull request coming), but I don't know why this would be happening for me and not others. My platform information is below:

OS: OS X 10.10.1
Python: 2.7.6
Node: v0.11.16

[2015-02-06 21:37] cluebcke opened #19 "Supported node versions should be specified"
I had forgotten I had iojs-v1.1.0 installed--build failed. So I switched back to the latest stable node, v0.10.36. The build succeeded but when I ran `node mozaik.js`, I received the following error:
[code]
So I switched to v0.11.16 (yay [nvm](https://github.com/creationix/nvm)!) and now everything is fine.

[2015-02-06 21:50] plouc commented on #17
@cluebcke it's strange, did you try with a stable node version ?

[2015-02-06 22:15] plouc commented on #19
@cluebcke did you ran npm install on iojs-v1.1.0 then switched to v0.10.36 ?

[2015-02-06 22:19] #17 closed

[2015-02-06 22:34] #19 closed

[2015-02-06 23:14] cluebcke commented on #19
Actually yeah I did. Quite admittedly not the cleanest process, so I couldn't say exactly what combination of things made it all not work.

[2015-02-06 23:20] cluebcke commented on #17
As noted on the other issue, I went from io -> node 0.10 -> node 0.11. I'm entirely willing to believe that I only had issues because I wasn't paying close attention in the first place.

By the way, sorry that reporting these couple of probably-my-own-fault issues is my first interaction with you. This is a really, really cool project and will be immediately useful to me.

[2015-02-06 23:30] cluebcke commented on #19
So I just switched to node v0.10.36 and re-cloned/installed/published in a fresh branch. Everything was fine. So that must have been caused by me bouncing around node versions between install and publish, which is nobody's idea of a supported use case. Sorry for the fuss, and thanks for being so responsive.

[2015-02-07 09:34] plouc commented on #17
No problem :) actually I don't use nvm or n, I experienced problems with some npm packages using it, I use VMs for more *on the edge* projects with a single version. Some packages use native addons through node-gyp, perhaps not fully compatible with version switching. And I'm glad to hear this project was useful to you.

[2015-02-07 09:40] plouc commented on #19
Probably caused by `ws` package, I've seen some issues regarding node-gyp/native addons, especially on OSX. I tried to run my tests on travis with node 0.11.* and iojs, but the build failed due to package install, it's good to know the limitations, thanks for reporting your problems.

[2015-02-13 09:03] juhamust opened #20 "Add support for loading widgets from external modules"
Provide an easy way to develop, publish and install new widgets as separate npm modules.

Also, it should be possible to install Mozaïk as dependency while having dashboard config and related resources (like theme?) maintained in own repository.

[2015-02-13 13:25] juhamust opened #21 "Widget instance can be configured only once"
Perhaps I'm doing something wrong, but it seems that the one widget type can be configured only once as the second instance gets the same location parameter value despite the config:

config.js
[code]

In both cases, the location value is `foo` in params.

[2015-02-13 15:39] plouc commented on #21
@juhamust could you please provide your component code ? How do you register your widgets ?

[2015-02-13 16:09] juhamust commented on #21
I can, but not that I tested with built-in Weather widget it seems to output correct results (giving different weather info):

[code]

So I'll check the code once again, but if still fail to succeed and you're willing have another look on it, that would be appreciated.

[2015-02-13 22:41] plouc commented on #21
@juhamust did you solved your problem ? if not, don't hesitate to provide your widget code.

[2015-02-14 10:22] juhamust commented on #21
Thanks for asking - I now had a time to look at the code again found the issue in `id` within `getApiRequest()`: It was not unique between locations. After including the `location` info into `id`, the issue was fixed.

By the way, that is possibly something to mention in [Extending -section](https://github.com/plouc/mozaik/wiki/Extend), too.

[2015-02-14 10:22] #21 closed

[2015-02-16 06:37] juhamust commented on #20
Some food for thought and motivation:

I've been using both [Dashing](http://dashing.io/) and [Atlasboard](https://bitbucket.org/atlassian/atlasboard/) to build dashboards and they both fall short with extending/contributing.

- Atlasboard uses git submodules that is less ideal and makes it next to impossible to bring own resources and dependencies into play. [Outcome is quite rigid](https://bitbu

[2015-02-17 19:08] plouc commented on #20
@juhamust thanks for the feedback, I'm currently working on making the extensions npm modules and plan to make the express app available for customization, but for now I don't plan to introduce a storage layer, but because the extensions will now be able to declare their own dependencies, it's possible to add it for a specific extension. I've also added the winston logger, I must find a clean way

[2015-02-17 19:23] juhamust commented on #20
This is excellent news! I will try out the branch in near future, but sounds good.

If you'll find winston logger too limited at some point, I recommend trying [bunyan](https://www.npmjs.com/package/bunyan) as an alternative.

[2015-02-17 19:35] juhamust opened #24 "Add support for switching between widgets"
While switching between dashboards is nice, sometimes one wants to switch only certain widgets (while keeping the others). Thus, Mozaik should support defining multiple widgets per region.

Ideally it would be as easy as:
[code]

As for the widget params, both should be defined. Naturally this can be challenging with conflicting names, but it could use same array approach:
[code]

[I've implemente

[2015-02-17 19:58] plouc commented on #24
I've thought of a similar feature, (with a nice flipping effect, it could be nice), but while the second approach is feasible, the first one isn't because of the different requirements for each widgets, another option:
[code]

[2015-02-17 20:07] juhamust commented on #24
Yes, a special widget type could be an option, too :) With my first example I thought that: *"all the parameters are passed to both widgets, it does not matter whether they needed them or not"*.

But additional challenge with my proposal comes if parameter value happens to be an array. Thus, I prefer your proposal.

[2015-02-19 07:57] juhamust commented on #20
Thanks for the update @plouc! Sure it's a big effort (causing some regressions and whatnot), but I believe it will greatly help people to contribute/extend in the long run.

You may also need to give up with wiki powered extension documentation and encourage widget author using README.(md/rst) instead. Maybe even provide a `mozaik-ext-boilerplate`?

[2015-02-20 21:47] plouc commented on #20
I've published mozaik and mozaik-ext-* npm modules but I have to update the whole wiki because of the switch and add more tests on it.
I'm thinking of a yeoman generator for the extension boilerplate.

[2015-02-24 17:08] juhamust opened #28 "WebSocket does not support secured connection"
Even if dashboard is located behind proxy, that handles and terminates the SSL connection, the client has the protocol tied into unencrypted one.

As I see it, there should be a config option like `useSSL=true` that would switch the `ws:` to `wss:`.

[code]

Agreed?

[2015-02-25 10:15] juhamust commented on #4
On related note, the current interval is 1000000ms, which can cause some issues if Mozaik dashboard is used behind proxy. For example, Nginx drops the connection after 60sec by default (i.e. before the next batch is read)

http://nginx.org/en/docs/http/ngx_http_core_module.html#keepalive_timeout

[2015-02-25 19:44] juhamust commented on #28
Ah, this is duplicate to #5

[2015-02-25 19:48] juhamust commented on #20
Any plans for merging this to `master` branch soon? It also seems that there is some code pushed to npmjs that does not exist in version control yet (for example Mozaik.loadApiConfig) - which makes a bit more challenging to use version control as dependency for time being.

[2015-02-25 21:28] plouc commented on #20
Yes, I'm sorry for that, as it's a side project I didn't had enough time to dry the *extensibility* branch, by the way, I'll try to push code released on npm asap.

[2015-02-26 07:27] plouc commented on #20
The extensibility branch is now up to date with the latest npm package

[2015-02-26 07:42] juhamust commented on #20
Great, thanks.

[2015-02-27 07:39] juhamust opened #30 "Dashboard rotation does not adhere rotationDuration config value"
Dashboard rotation is hardcoded to 4000ms:
https://github.com/plouc/mozaik/blob/extensibility/src/browser/stores/DashboardStore.js#L19

Whereas mozaik-demo hints about the config value:
https://github.com/plouc/mozaik-demo/blob/master/config.js#L33

[2015-02-27 08:56] juhamust opened #31 "Client API method is called only once even if params change"
Recent change requires Mozaik extension apis to be in format of `extension.methodName`. This makes sense but the problem is when same API method is called twice (or more) with different parameters.

Currently it always return same value.

See related ticket: https://github.com/plouc/mozaik-ext-weather/issues/2

[2015-02-27 10:27] plouc commented on #30
Fixed with https://github.com/plouc/mozaik/commit/778b36457063d27246f063b1ce7a83c0e11d8c2d

[2015-02-27 10:27] #30 closed

[2015-02-27 10:27] plouc commented on #31
Fixed in plouc/mozaik@f4bffb1, the old format is the with api_id.method.unique_param is the good on

[2015-02-27 10:27] #31 closed

[2015-02-27 11:34] juhamust commented on #30
Thanks for the quick turnaround!

[2015-02-28 10:14] plouc commented on #20
@juhamust, I've merged the `extensibility` branch and I'm currently working on yeoman generators for custom dashboard and extension, see https://github.com/plouc/mozaik-generator.

I have not yet updated the wiki.

[2015-02-28 10:15] #3 closed

[2015-02-28 15:55] juhamust commented on #20
Excellent work, @plouc. I've got couple of widgets already cooking up, and while being developed on work-time, hoping to release them under permissive license soon.

[2015-02-28 15:58] juhamust commented on #20
Feel free to close this ticket.

[2015-03-01 06:13] juhamust opened #32 "Theme is hard coded / add support for providing a custom theme"
Theme is hard coded to `night-blue`: https://github.com/plouc/mozaik/blob/master/gulp/tasks/styl.js#L15

While fixing the issue, the support of providing a custom theme could be added as well: In a case the config `theme` variable is *not* a theme name delivered with Mozaik, it is considered as a relative path to theme folder (based on `config.js`)?

[2015-03-01 10:21] plouc commented on #32
It's now fixed, but you cannot yet set a custom theme, I have to find a way to give an alternate path, not just a theme name

[2015-03-02 13:04] plouc commented on #32
@juhamust you should now be able to use a custom theme, all you have to do is to conform this directory layout:

[code]

Then, you can set theme to `mine` in your config.

[2015-03-02 13:04] #32 closed

[2015-03-02 13:11] juhamust commented on #32
Great! Based on quick test, seems to work as expected.

[2015-03-19 12:57] juhamust commented on #28
This one done, now? https://github.com/plouc/mozaik/commit/031e2be416d4c8fcf1c75b14cc26cada2e0c9406

[2015-03-19 13:45] plouc commented on #28
yes

[2015-03-19 19:36] juhamust opened #34 "Add support for real-time communication"
Current polling model work nicely most of the cases. However, if more accurate data is needed, the approach no longer. Thus, it should be possible for client to communicate with the client whenever needed.

**Example scenario:** Server side client creates a WebSocket or MQTT connection to data source. Whenever a message is received, client communicates it to all the interested widgets.

@plouc: I'

[2015-03-19 20:09] plouc commented on #28
@juhamust I close this issue as it's now supported, feel free to re-open if does not fit your needs

[2015-03-19 20:09] #28 closed

[2015-03-20 08:01] juhamust commented on #34
This is also related to #4: Once the interval can be defined per backend API, it can be decreased for specific data sources. However, it remains to see how the service will work if interval is only, say 1 second?

[2015-03-20 08:53] plouc commented on #34
I think it could be saner to let the backend stream its data to the component, perhaps introducing a subscription type `poll` or `stream|pipe` without breaking the current api (`poll` should be default if none given). I'll try to test this approach.

[2015-03-20 09:13] juhamust commented on #34
Sounds good to me. Thanks.

[2015-04-07 10:19] juhamust commented on #20
Putting the money where my mouth is, now there are couple of extensions published:

- https://www.npmjs.com/package/mozaik-ext-analytics
- https://www.npmjs.com/package/mozaik-ext-sheets

[2015-04-20 06:35] juhamust commented on #34
Any progress with this?

[2015-04-22 16:07] mblakele opened #36 "startup error with yo-configured time widget"
Following the instructions at https://github.com/plouc/mozaik I used `yo mozaik`, which prompted me to select widgets. I selected the time widget, plus a few others. However `node app.js` produced an error:

[code]

The problem seems to be this line that `yo mozaik` added to my `app.js`:

    mozaik.bus.registerApi('time',  require('mozaik-ext-time/client'));

However the time widget doesn't have

[2015-04-29 19:56] ThrowingSpoon commented on #36
I called the 'time' component directly, this does however generate a warning:

[2015-05-06 06:11] #20 closed

[2015-05-06 06:11] #5 closed

[2015-05-06 06:13] plouc commented on #36
@mblakele I have to fix the generator to only require extension's client if it's available.

[2015-05-06 06:19] plouc commented on #36
@ThrowingSpoon how do you instantiate the clock component ?
When you use mozaïk, the widget is instantiated using this code https://github.com/plouc/mozaik/blob/master/src/browser/components/Widget.jsx#L18
If you're curious, you can read more about this here https://gist.github.com/sebmarkbage/ae327f2eda03bf165261

[2015-05-06 12:02] plouc commented on #36
@mblakele I fixed the issue with extra client declaration, see https://github.com/plouc/mozaik-generator/commit/6480b100e696f2b31793561764683ceef2541e90
Feel free to re-open this issue if it does not fix the problem.
(You'll have to update the yeoman generator)

[2015-05-06 12:02] #36 closed

[2015-07-29 15:30] himynameisdave opened #40 ""publish" is not in your gulpfile"
Installed the mozaik yeoman generator and ran it. Ran into a peerDep issue (unrelated I think) and then I was unable to run `gulp publish` like it says to in the docs.

##### Steps to reproduce:
1. run `yo mozaik` to generate the base files.
2. run `npm i` to install dependencies.
3. Fix the following peerDependency issue by specifying `^0.13.0` for react in the `package.json`:
![screen shot 2015-

[2015-07-29 15:52] plouc commented on #40
@himynameisdave I've changed a lot of things on mozaïk yesterday, I have to update the generator, I hope I can do it today

[2015-07-29 15:55] himynameisdave commented on #40
I was just about to add that it was working fine on Monday! Thanks man (y)

[2015-07-29 15:57] himynameisdave commented on #40
Hey unrelated but since you're the key dev on this...
...can you use [mozaik-ext-github](https://github.com/plouc/mozaik-ext-github) with GH Enterprise?

[2015-07-29 16:02] plouc commented on #40
@himynameisdave, I think you can, you'll have to set the `baseUrl` pointing to it

[2015-07-29 16:02] himynameisdave commented on #40
@plouc thank you! :)

[2015-07-29 16:14] plouc commented on #40
@himynameisdave I've updated [mozaik-ext-github](https://github.com/plouc/mozaik-ext-github) readme

[2015-07-30 06:22] plouc commented on #40
@himynameisdave you can now update mozaik generator and use `gulp build` instead of `gulp publish` (documentation updated). let me know if it works with the update

[2015-07-30 14:08] himynameisdave commented on #40
@plouc thanks, you're the best. That seemed to work great, runs through the generator no problem and the `peerDependency` issues seem to be resolved as well. I guess you could say...

![as planned](http://cdn.memegenerator.net/instances/500x/34240159.jpg)

Closing these issues now.

[2015-07-30 14:08] #40 closed

[2015-08-04 12:15] tlenclos opened #41 "How to update an existing project ?"
I runned `npm update` and after your refactoring with ES6 the app crash.

[code]

Is there a recommended way to update mozaik for an existing project ?

[2015-08-04 12:19] plouc commented on #41
@tlenclos you should take your actual config and move it to an updated demo repo clone or use the yeoman generator. I hope it'll solve your problem, let me know if it doesn't.

[2015-08-06 15:43] plouc commented on #41
@tlenclos did it worked ?

[2015-08-06 16:04] tlenclos commented on #41
Partially, there is some custom widgets that are broken but I just changed theses files from the mozaik-demo repository and it works.

[code]

[2015-08-06 16:05] #41 closed

[2015-09-01 21:50] jhawlwut commented on #2
any progress on this? we're curious about using mozaik / gitlab, but before we go and write our own plugin, wanted to make sure the core wasn't going to updated with this soon...

[2015-09-01 22:17] plouc commented on #2
@jhawlwut, it was a proposal and for now I didn't planned to work on it, but I'll be very glad if you work on a custom gitlab mozaïk extension!
To get started with extension development, I think you should take a look at the [mozaik-ext-github](https://github.com/plouc/mozaik-ext-github) repo as it's one of the most complete one and the API is very similar to gitlab's one.
If you have some questio

[2015-09-18 12:18] danielw92 opened #43 "Node 4.0 support / ws dependency"
I'm currently developing a dashboard using Mozaik and I am considering upgrading to the latest version of Node.
Everything seems to work fine using Node 4.1.0, with one exception: the *ws* dependency won't compile on my system. I changed its version via `npm shrinkwrap` from ^0.6.3 to 0.8.0 and it looks like everything works. Are you aware of any problems with that version of *ws* or Mozaik with N

[2015-09-21 08:51] danielw92 commented on #43
Fixed by #44

[2015-09-21 08:51] #43 closed

[2015-10-22 09:16] torbjornvatn opened #45 "gulp not finding reflux module"
Hi,

I tried to set up a new dashboard using the Yeoman approach, but I ran into this error when executing `gulp build`

[code]

Any ideas on how to fix this?

I'm using `node v4.1.2` and `npm v2.14.6` by the way

[2015-10-22 09:24] torbjornvatn commented on #45
I've tried pulling the demo-repo, and that works just fine

[2015-10-22 09:55] torbjornvatn commented on #45
I removed the twitter extension from `app.js` but the I got this from the image extension:

[code]

I altered `app.js` to contain `mozaik-ext-image/components` instead, but then I got this:

[code]

[2015-10-22 15:29] plouc commented on #45
@torbjornvatn is your repo available somewhere ?

[2015-10-23 09:01] torbjornvatn commented on #45
Got it working, seems like it was a problem with our inhouse npm registry

[2015-10-23 09:01] #45 closed

[2015-11-05 00:44] andrerpena opened #48 "Does Mozaik require reflux?"
First.. Thanks for this project. It looks amazing.
I'm wonder whether it works with other flux implementations like Redux.
My question is because including Reflux on my bundle would make it even bigger.
Thanks

[2015-11-05 16:31] plouc commented on #48
@andrerpena, Unfortunately Mozaïk actually requires Redux

[2015-11-11 16:35] kamal2222ahmed opened #49 "A working example of backend communication"
It would really help if there is a real world example of getting real time data from database, or a live site perhaps providing data as JSON, or XML

[2015-11-11 20:32] plouc commented on #49
@kamal2222ahmed I don't know what you're trying to achieve, but you could have a look at the various mozaïk extensions repositories (all listed here http://mozaik.rocks/extensions/).

[2015-11-11 23:06] kamal2222ahmed commented on #49
Exactly what i was looking for, thanks

[2015-11-11 23:06] #49 closed

[2015-11-22 10:33] xyNNN opened #50 "Wrong positioning of widget content"
Hey folks,

I have encountered an issue that the widget content isn't centered in the widget body. Can anyone else reproduce this? I think it's because of the absolute positioning from the .widget__body
![bildschirmfoto 2015-11-22 um 11 31 31](https://cloud.githubusercontent.com/assets/1929750/11323199/de39b9a4-910c-11e5-85d0-432b84d1d3b5.png)

[2015-11-22 10:37] plouc commented on #48
@andrerpena, I mean reflux, sorry

[2015-11-22 10:37] #48 closed

[2015-11-22 13:41] andrerpena commented on #48
Thanks @plouc. I'm working on an open platform for creating data-driven business apps using the stack: Node + RethinkDB + React. Dashboards are essential for this kind of app.

I don't mean to undervalue your work. Mozaik is amazing. However, shouldn't the UI components be separated from the client-to-server communication? I would even have put the communication in a separate library. I wanted to

[2015-11-22 22:43] plouc commented on #50
@xyNNN, this problem is related to mozaik-ext-time widget which is not vertically centered when no title is defined

[2015-11-22 23:14] plouc commented on #50
I just saw I already had

[2015-11-22 23:16] plouc commented on #50
feel free to re-open if it doesn't solve the issue

[2015-11-22 23:16] #50 closed

[2015-11-23 19:42] plouc commented on #48
@andrerpena, thanks for your feedback. I agree it should be great if **Mozaïk** supports this type of decoupling, unfortunately, the initial intent was to build a sort of *dashboard framework*, and I had a lot of difficulties to allow extension integration while keeping the ease of integration, perhaps **npm3** will make it painless. BTW, I think it could be easy to develop your own **Mozaïk** ext

[2015-12-21 12:53] tlenclos opened #52 "How do you handle build of widgets when creating new widget ?"
Hi and thanks for your work on Mozaik !

Quick question, how do you handle the build of new widgets using ES6 syntax ?
For example I forked your github widget and used `npm link`, then I got an error when starting the app as the ES6 syntax if not valid:
[code]

[2015-12-21 13:12] plouc commented on #52
You'll have to tell browserify to transpile your module, https://github.com/plouc/mozaik-ext-github/blob/master/package.json#L49

[2015-12-21 13:15] tlenclos commented on #52
I'm using `gulp watch` on my mozaik project, `npm link with` my fork of your github widget. So I got the same package.json  that you linked.

[2015-12-21 13:39] tlenclos commented on #52
Maybe you can document your workflow when creating a new widget or forking an existing one ?

[2015-12-21 13:56] plouc commented on #52
You're right, I could :) Unfortunately, I were not able to make the link npm command works because of peer dependencies, I put the git repo directly into the node_modules directory

[2015-12-21 15:13] tlenclos commented on #52
And what command are you doing to compile the files in `node_modules/mozaik-ext-github` for example ?

[2015-12-21 15:30] plouc commented on #52
Don't have have my laptop right now, but I think it's:
[code]
BTW, the actual workflow is annoying, I'm planning to move to webpack soon

[2016-01-07 15:46] jottr opened #53 "Demo page displays a blank canvas"
It seems that the demo on heroku does currently not work.

[2016-01-08 03:09] plouc commented on #53
@jottr, thanks for the info, but it works for me, can you re-try please ?
Sometimes proxies don't like websockets which, in that case have to be served over ssl/tls, what error message do you get ?

[2016-01-08 21:22] jottr commented on #53
The issue seems to be due to some  "ad-blocking" extension.
Sorry for the false alarm.

[2016-01-08 21:22] #53 closed

[2016-01-11 03:40] plouc commented on #52
@tlenclos, I'm closing this issue, feel free to create one if it doesn't work

[2016-01-11 03:40] #52 closed

[2016-01-15 01:20] plouc commented on #15
@sukhmeet2390, i think it's quite easy to create, you can look at an existing widget for inspiration.

[2016-01-15 01:20] #15 closed

[2016-01-15 01:22] plouc commented on #2
@jhawlwut, I close this issue, did you stared something with gitlab, I'll be glad to help if you did ?

[2016-01-15 01:22] #2 closed

[2016-01-27 03:16] andyfleming opened #56 "gulp build failure"
Running `gulp build` gives me the following. I'm using the install/setup instructions in the README.

[code]

[2016-01-29 22:09] keithamus opened #57 "Demo currently failing"
I get a blank screen on the demo app (https://mozaik.herokuapp.com/).

It seems to be because Chrome doesn't allow cross-protocol websocket access (as in https with ws or http with wss).

[code]
[code]

[2016-01-30 00:53] plouc commented on #57
@keithamus, the demo doesn't support wss for now, it's configured to use ws only

[2016-01-30 00:55] plouc commented on #57
where did you got the https link ? (just to be sure I didn't put an https demo link in the docs)

[2016-01-30 11:15] keithamus commented on #57
Ahh, I just twigged that its my [HTTPS Everywhere](https://chrome.google.com/webstore/detail/https-everywhere/gcbommkclmclpchllfjekcdonpmejbdp?hl=en) extension - it was auto redirecting the all *.HerokuApp.com sites to their https equivalents. I've disabled it and the dashboard is working now.

[2016-01-30 11:15] #57 closed

[2016-02-15 16:04] torarnv commented on #52
Any update on webpack? I'm looking into using mozaik for our dashboard, as it looks really shiny, but the process of creating a new widget seems a bit complicated, lots of react boilerplate, rebuilding between each code/style change. Is there a recommended workflow that perhaps looks more like the simplicity of dashing, e.g. https://gist.github.com/YuriKazakov/c85f8cbde7235105dd16 ?

[2016-02-16 06:59] plouc commented on #56
@andyfleming, you used the yeoman generator ?

[2016-02-16 07:01] andyfleming commented on #56
Yes (if I recall correctly).

I tried to just follow the directions in the README.

I was able to clone that other example repository to get things working but the `yo` workflow didn't work.

[2016-02-16 07:01] plouc commented on #52
@torarnv, unfortunately, I don't have the time for now to work on my side projects

[2016-02-16 07:02] plouc commented on #52
You should have a look at the [time widgets](https://github.com/plouc/mozaik-ext-time)

[2016-02-16 07:22] plouc commented on #56
I've fixed a problem with the generator (v1.0.1)

[2016-02-17 15:17] torarnv commented on #52
@plouc Sorry to hear that, but thanks for being honest! :+1:

[2016-02-18 01:54] plouc commented on #52
but the time widget is light enough (with some react boilerplate) :)

[2016-02-18 01:58] plouc commented on #56
@andyfleming, I close this issue as it seems to work now, feel free to re-open if it doesn't work for you. And thanks for the feedback!

[2016-02-18 01:58] #56 closed

[2016-03-01 19:40] juhamust opened #59 "Prefer Webpack over Gulp"
As stated in https://github.com/plouc/mozaik/issues/52#issuecomment-166331309, the project should move to Webpack. I took an initial steps towards Webpack based building, to initiate the communication and perhaps contribute with the effort:
- https://github.com/juhamust/mozaik/tree/webpack
- https://github.com/juhamust/mozaik-demo/tree/webpack

**Warning:** Many rough edges, bugs and missing funct

[2016-03-02 01:32] plouc commented on #59
@juhamust, thanks, didn't started anything for now, so I think it's a good starting point !
There are some tricky parts I think because of the way the styles are collected/generated and the mozaik related packages having to be compiled by babel, but nothing impossible :)
I think I'll create a dedicated branch on the repo to make it easier for other people to contribute.

[2016-03-02 01:34] plouc commented on #59
created the dedicated branch https://github.com/plouc/mozaik/tree/feat-webpack-migration

[2016-03-02 07:02] juhamust commented on #59
Thanks. Indeed, many things, including style collection, are still missing in the POC. Maybe I'll reorganise my work and send a PR :+1:

[2016-03-14 11:33] cybernet commented on #34
any news ?

[2016-03-14 15:38] benediktvaldez opened #60 "Generic loading of moazik-ext-* stuff"
My situation is that node_modules is not located in the same folder as my code, but your built-in `gulp build` assumes otherwise (understandably I suppose)

Ideally we could find a way to load all modules that start with `mozaik-ext-` regardless of where `node_modules` is located

[One example](https://github.com/plouc/mozaik/blob/master/gulp/tasks/collect.js#L16)

Not sure how we could solve this

[2016-03-14 15:39] benediktvaldez commented on #60
One way I guess would be to rewrite everything with webpack/css-modules, and have the components come with their styles and everything..

[2016-03-14 15:52] plouc commented on #60
Yep,I totally agree with the webpack switch, it could be better, but moving to webpack requires **a lot of work**, there's already [an issue on this](https://github.com/plouc/mozaik/issues/59), it seems someone has started something :).

[2016-03-14 15:53] plouc commented on #60
A fix should be to try to find the node modules directory and use its path instead of the hardcoded one.

[2016-03-14 15:54] benediktvaldez commented on #60
One suggestion was to look for `package.json`, and go up a level if you don't find one, until you find one (with some limitations I guess) - but feels hacky - but this kind of stuff usually does :smile:

[2016-03-14 16:00] plouc commented on #60
`npm root` does this, perhaps there's a solution in its source code

[2016-03-17 13:39] benediktvaldez opened #62 "Problems using useWssConnection:true"
We are serving the dashboard via https, ofc :smile:, and enabled the `useWssConnection: true` in our config.js, but can't seem to get it working, seeing this error message

[code]

Should I be doing something else to get this working?

[2016-03-17 21:11] juhamust commented on #62
Are you using somekind of proxy (Nginx, Apache etc.) between? If so, ensure it does handle the websocket connections correctly.

[2016-03-17 22:01] benediktvaldez commented on #62
Good catch @juhamust , me being silly..

How about while working on it locally, there I get
[code]
Should I just use `ws` locally and `wss` on the server?

[2016-03-23 08:27] juhamust commented on #62
I'd use `ws` while developing, yes.

[2016-03-23 14:18] #62 closed

[2016-03-23 17:03] tomav opened #66 "Docker image"
Hi @plouc,

More a question about an enhancement than an issue.
I know you are think about a docker image to run mozaik dashboards.

I quickly built one using this Dockerfile template:

    FROM node:onbuild
    RUN npm install -g gulp
    RUN gulp build
    CMD [ "node", "app.js" ]
    EXPOSE 5000

The image is 700MB+ which is HUGE.
If you have any thought to share here, do not hesitate.

Thank y

[2016-03-23 17:04] tomav commented on #66
Gonna have a look to alpine...

[2016-03-23 17:09] tomav commented on #66
Better. 145.6 MB

[2016-03-23 18:19] tomav commented on #66
Had to add `use(connect.static('public'))` to `server` creation.
Will probably PR something.

[2016-03-23 22:01] plouc commented on #66
@tomav, I already strted something, but not yet finished https://github.com/plouc/mozaik-docker/blob/master/Dockerfile

[2016-03-31 15:09] juhamust commented on #7
PR available #70  (?)

[2016-04-02 00:24] plouc commented on #7
You're right @juhamust, I'm about to release `mozaik-1.0.13`with it.

[2016-04-02 00:24] #7 closed

[2016-04-04 11:15] plouc commented on #59
@juhamust, I've upgraded babel in `v1.1.0`, it could helps to migrate to webpack, the following extensions now use `.baberc`:

- mozaik-ext-github
- mozaik-ext-time
- mozaik-ext-travis
- mozaik-ext-weather

You can also update your extensions to support this new version.

[2016-04-04 11:16] plouc opened #72 "Add support for configurable polling"
For now, apis poll interval is [hardcoded](https://github.com/plouc/mozaik/blob/8010a6b2701f4bcfbbc778a416da7bd760f8056a/src/Bus.js#L159), we should be able to define it through config file using `apisPollInterval` key.

[2016-04-05 14:04] plouc opened #73 "Reload config and reconnect clients on server restart"

[2016-04-06 02:11] plouc commented on #72
solved by https://github.com/plouc/mozaik/pull/75

[2016-04-06 02:11] #72 closed

[2016-04-06 02:22] plouc commented on #4
@juhamust, this doesn't solve this issue, but it's a small improvement, https://github.com/plouc/mozaik/pull/75

[2016-04-06 16:07] tomav commented on #73
I'm running my dashboard in a docker container.
When a change is done to configuration, a new image is built and deployed.
This mean that the server restarts but doesn't know that some clients were connected, so there's no data polling, and no updates on connected clients.

When using a dashboard on a TV (without easy access to keyboard/mouse), it's a big problem.
Each client has to refresh the pa

[2016-04-07 01:51] plouc commented on #34
@juhamust, @cybernet done! available in `mozaik@1.3.0`, see https://github.com/plouc/mozaik/pull/76, for now, there's no proper documentation on how to use the feature, I must update http://mozaik.rocks/ accordingly, but I have made a simple gist to explain how to use it https://gist.github.com/plouc/5fc5d80aa74e4a6c3196a265602c509c.

And of course, if you have any feedback/issue with it, just let

[2016-04-07 01:51] #34 closed

[2016-04-07 02:03] plouc commented on #73
@tomav, yes it is, but there's another problem with disconnected clients.

This one isn't easy to solve because I made the (questionable) choice of having a javascript based config file, so it's loaded as a simple module (using `require`) which cache it, I've fixed it for styles generation when you change the `theme` (see https://github.com/plouc/mozaik/blob/master/gulp/tasks/styles.js#L17), but I

[2016-04-11 03:22] plouc commented on #73
@tomav, there's a WIP which should fix your problem, now you'll have a notification when the ws connection is broken, then the frontend will attempt to reconnect it 10 times each 15 seconds, see https://github.com/plouc/mozaik/pull/77.

[2016-04-11 10:10] tomav commented on #73
Great!

[2016-04-11 18:30] plouc commented on #73
@tomav available in `mozaik@1.4.0`

[2016-04-11 18:30] #73 closed

[2016-04-11 18:44] tomav commented on #73
Upgrading! Thank.

[2016-04-12 00:46] plouc commented on #73
@tomav 1.4.1, there's a bug in 1.4.0

[2016-04-12 06:49] tomav commented on #73
Ok.

[2016-04-12 11:17] tomav commented on #73
Works great! 👍

[2016-04-13 16:58] akhil0 opened #78 "Add support for LineChart in Framework"
Hi, I am trying to create a burndown chart and would like to know if it's possible to add Line Chart as component in the framework. It would be very helpful.

[2016-04-14 22:29] plouc opened #80 "Mozaïk should provide a way to define dashboard templates"
We should be able to use extension templates, for example, given you already installed `mozaik-ext-github`, you should be able to use a `repository` dashboard template by just providing a repo ID.

The API should be something like :

[code]

where `templates` is an object composed of various predefined dashboard components.

[2016-04-25 06:31] foodaka opened #81 "error on npm install"
everytime i try and load the npm install i come across this error. any idea what to do?

[code]

[2016-04-25 06:48] plouc commented on #81
@foodaka, which Mozaïk version do you use ? What method did you used for installation (mozaik-demo/yeoman generator), and finally which version of node/npm are your running Mozaïk on ?

[2016-04-25 06:51] plouc commented on #81
ok you used the mozaik-demo, the path is in the stack trace :)

[2016-04-25 06:53] foodaka commented on #81
thanks for the quick reply. node v4.2.3

[2016-04-25 06:53] plouc commented on #81
and for npm ?

[2016-04-25 06:53] foodaka commented on #81
npm 2.14.7

[2016-04-25 06:58] plouc commented on #81
hum, I get the same error… it's weird because the demo is automatically deployed on heroku and it works, I must have missed something, don't have the time to fix it now, but I'll look later

[2016-04-25 06:59] foodaka commented on #81
ok thanks drop me a ping, i would love to try out this solution

[2016-04-25 07:11] plouc commented on #81
@foodaka, you can pull the demo repo / rm node_modules and re-install, should be ok

[2016-04-25 07:33] foodaka commented on #81
awesome thanks got it up and running. users may run into error with babelify, just run

` npm install babelify`

[2016-04-25 07:37] plouc commented on #81
I use npm@3, modules get flattened, I think that's why babelify is available for me and not for you.
I close it as it seems to work, thanks for your report.

[2016-04-25 07:37] #81 closed

[2016-04-25 07:38] plouc commented on #81
I think you had a warning on installation
[code]

[2016-04-27 09:52] modomodo commented on #81
@plouc I'm still getting errors with the mozaik-demo

Here's the output:
[code]

I'm currently using Ubuntu 16.04

[2016-04-27 09:56] plouc commented on #81
@modomodo can you show me the content of your package.json please ?

[2016-04-27 10:11] modomodo commented on #81
I'm using the default settings. I haven't changed anything from the mozaik-demo:
[code]

[2016-04-27 10:12] plouc commented on #81
@modomodo you can just re-pull the repo / rm node_modules and re-install, should fix your problem

[2016-04-27 10:22] modomodo commented on #81
Its now working. Thanks alot @plouc :+1:

What exactly was the problem?

[2016-04-27 10:22] plouc commented on #81
mozaik-ext-github required an higher version of mozaik

[2016-04-27 10:23] plouc commented on #81
of the mozaik dependencies

[2016-05-04 10:12] tomav commented on #81
Had the same problem today. Upgrading `mozaik` fixed it.
Thank you.

[2016-05-10 13:08] benathmane opened #82 "[ERROR] node app.js command"
sudo node app.js
/home/abenathmane/Desktop/mozaik/node_modules/babel-core/lib/transformation/file/options/option-manager.js:126
      if (!option) this.log.error("Unknown option: " + alias + "." + key, ReferenceError);
                           ^

TypeError: Cannot read property 'error' of undefined
    at OptionManager.mergeOptions (/home/abenathmane/Desktop/mozaik/node_modules/babel-core/lib/tr

[2016-05-10 13:12] plouc commented on #82
Ok, you got an error using babel :) some context could be useful, I have no idea what's your actual setup, node version, Mozaïk version, activated extensions…

[2016-05-10 13:31] benathmane commented on #82
Thanks,
npm version : v3.8.6
Mozaik version : v1.4.4
node version : v6.1.0
Activated extesions : mozaik-ext-jenkins

[2016-05-17 14:54] jagger06 commented on #82
This solution help me
http://www.guyellisrocks.com/2015/11/babel-cannot-read-property-error-of.html
remove all files .babelrc in node-modules subdir

[2016-06-08 12:12] elyochola opened #86 "Error when running node app.js"
info: registered API 'mozaik' (mode: poll)
info: registered API 'github' (mode: poll)
info: registered API 'travis' (mode: poll)
info: registered API 'weather' (mode: poll)
info: serving static contents from /Users/eochola/Desktop/dashboard/build
events.js:141
      throw er; // Unhandled 'error' event
      ^

Error: listen EADDRINUSE 0.0.0.0:5000
    at Object.exports._errnoException (util.js:86

[2016-06-08 14:22] plouc commented on #86
It seems you already have something running on port 5000

[2016-06-08 14:22] #86 closed

[2016-06-08 20:20] t3db0t commented on #66
This would be potentially useful for Raspberry Pi setups. Right now installing `yo gulp generator-mozaik` is taking foreeeeever ;)

[2016-06-09 06:44] juhamust commented on #66
@t3db0t, are you _developing_ dashboard on raspberry box or only hosting it? Sure, there is still that `npm install --production` but it should be doable.

[2016-06-09 21:51] t3db0t commented on #66
Oh, ok, I didn't think about that—no, I don't need to develop on the Pi, just deploy. Can you point me in the right direction with how to do that?

[2016-06-13 09:44] kurtextrem opened #87 "Document how to use the Inspector, Timer element"
Using the Inspector Element is easy:
`{
            columns: 1,
            rows: 1,
            widgets: [{
                type: 'mozaik.inspector'
            }]
        },`
but what about the timer?

[2016-06-13 10:34] kurtextrem commented on #60
What is the best way to start developing extensions? For example if I move my extension into the node_modules folder of my dashboard, it somehow doesn't listen to mixins.

[2016-06-13 12:16] plouc commented on #60
@kurtextrem, this problem often occurs when you have several modules duplicated, locally, I use `npm link` (with npm 3+) with latest mozaik version.

[2016-06-13 13:34] kurtextrem commented on #60
@plouc I have a funny other issue now:
`info: Client #1 connected
info: Setting timer for '....'
info: removing interval for '....'
info: Client #1 disconnected`
And then more than one reconnect, even though only one window is open... which leads to Client #235 connected + disconnected after a few seconds.
Any ideas? I've tried reinstalling all node modules already.

[2016-06-13 15:31] kurtextrem opened #88 "Switch away from WS"
I think switching away from the WS lib might be a good idea, see here:
- https://github.com/websockets/ws/issues/751
- https://github.com/websockets/ws/issues/629
- 184 open issues
- 39 open PRs

Socket.IO is probably the best alternative choice, as others (like uWS) aren't easy to compile on Windows.

[2016-06-13 22:23] plouc commented on #87
In fact Timer isn't meant to be used, I'll probably remove it.
You're right about the inspector, feel free to make a PR :)

[2016-06-15 19:52] t3db0t commented on #82
Hm, I'm getting this exact same error but I don't have a `.babelrc` file at all.  What else can I check?

npm 3.9.3
Mozaik 1.4.4
node 6.2.1
Babel 6.5.2 / babel-core 6.9.1

[2016-06-16 07:35] jagger06 commented on #82
Hi,

you need to have at least one .babelrc file on your root application with :
{
    "presets": ["es2015", "react" ],
}

[2016-06-16 13:47] t3db0t commented on #82
I did that, and rebuilt, but I'm still getting the same error.  Arggghhhhh.

[2016-06-16 14:23] t3db0t commented on #82
Hm, I just noticed that `package.json` lists `babel": "^5.8.12"` but I have 6.5.2.  I tried downgrading and various combinations of `.babelrc` present or in different directories, nothing worked, same error every time.  I tried changing the version required in `package.json` to 6.5.2 and then I get `Error: Cannot find module 'babel/register'`. I tried to fix that but it was just more and more new

[2016-06-16 14:24] t3db0t opened #89 "Warnings & Errors during fresh installation"
Node: v6.2.1
Npm: v3.9.3

A number of warnings, deprecations, and unmet peer dependency. Still haven't been able to get the app to run at all, as per #82 .

[code]

[2016-06-16 14:27] plouc commented on #89
@t3db0t the yeoman generator is not up to date, you should use the mozaik-demo.

[2016-06-16 14:27] #89 closed

[2016-06-16 14:35] t3db0t commented on #89
Oh. I wish I'd known :'( Is the docker version working?

[2016-06-16 14:36] plouc commented on #89
not yet, what's the problem with the demo ?

[2016-06-16 14:39] t3db0t commented on #89
None I don't think, I haven't tried yet, just curious. Incidentally, is cloning `mozaik-demo` permitted? I'm getting `Permission denied (publickey)`.

[2016-06-16 14:40] plouc commented on #89
of course it is :)

[2016-06-16 14:41] t3db0t commented on #89
Ah, I forgot I hadn't set up my keys for cloning from gitfiles. Nm—thank you!

[2016-06-23 13:43] tsyirvo opened #90 "Create a new theme"
Hello,

I was wondering if there was any specific files or setup to do to create a new theme. Based on the already available themes, they all have the same files defined.

Once the new theme is created, how do I register it on the Mosaik config file ?

I'll probably make a PR once I finish it so that anyone can use it ;)

Cheers,

[2016-06-24 01:16] plouc commented on #90
Hi @tsyirvo,

The required files are `_vars.styl` and `index.styl` located in `src/themes/my_custom_theme`.
The exhaustive list of customizable variable is available in `src/styl/__vars.styl`.

To use it, you just have to set `theme: 'my_custom_theme'` in the config file and run `gulp styles:dev` task or `gulp styles` depending on the environment.

If you want to submit your theme, you'll have to

[2016-06-24 01:16] #90 closed

[2016-06-24 01:21] plouc commented on #88
In fact, I was thinking about switching to uWS because of performance, Socket.IO does to much IMHO.
If you've got some problem on Windows, perhaps you should consider using Docker, the beta for Windows and OSX works very well.

[2016-06-24 06:25] kurtextrem commented on #88
I thought about uWS as well, but sadly it doesn't compile on Windows yet.

[2016-07-06 01:40] sampengilly opened #91 "Extension not calling Client function"
Hi,

I've been trying to modify the Jenkins extension to call the TeamCity API and have run into an issue that I can't seem to debug. My extension is being correctly imported, the API client is being registered: `info: registered API 'teamcity' (mode: poll)` and the widget is being displayed (albeit with a blank body). The widget's `getApiRequest` method is:
[code]
The `ListenerMixin` and `ApiCons

[2016-07-06 05:33] gazab commented on #91
I'm not exactly sure what this issue is but have you seen my TeamCity extension here: https://github.com/gazab/mozaik-ext-teamcity? Maybe check it out for some inspiration. And feel free to use it and improve it with pull requests :)

It's up on npm too and I'm using it myself daily.

[2016-07-06 05:34] juhamust commented on #91
Interesting: I'm having same issue with extension of mine. https://gitter.im/plouc/mozaik?at=576509162a4cd63745ea80f4

[2016-07-06 06:06] sampengilly commented on #91
@gazab That solves my immediate need for TeamCity integration nicely, thanks!

Since this was also a learning exercise in developing an extension and @juhamust is experiencing the same issue I'll leave this open as a bug or miscommunication in documentation might still exist.

I think for my next extension I'll see if I have any luck starting from scratch if one isn't already available.

[2016-07-15 09:31] kurtextrem commented on #91
I had the same issue. I "solved" it with forking mozaik-ext-jenkins, stripping out all the jenkins stuff and renaming all of "jenkins" to something else. It succeeded, but I still don't know why my first try didn't work.

[2016-08-19 06:32] plouc commented on #78
@akhil0, you should consider using an external package, see https://github.com/SC5/mozaik-ext-analytics for reference.
Perhaps I'll add a Line Chart later by including another package I'm working on https://github.com/plouc/nivo, but for now the best option is to use a dedicated lib.

[2016-08-19 06:32] #78 closed

[2016-08-19 06:34] plouc opened #96 "Switch to redux and remove usage of Mixin"
Switching to redux should ease testing extensions' components without having to mock mozaik mixins.

It will also help debugging using redux dev tools.

[2016-08-19 06:35] plouc commented on #91
I close this issue as the problem seems to have been solved.

[2016-08-19 06:35] #91 closed

[2016-08-19 06:37] plouc opened #97 "Improve DX when developing extensions"
- Provide support for hot reloading (weback)
- Provide support for watch on config (chokidar ?)
- Provide support for automatic server restart (nodemon ?)
- Add documentation on the workflow (linking…)

[2016-08-19 06:39] plouc commented on #82
@t3db0t, is this issue still relevant ?

[2016-08-19 09:34] juhamust commented on #91
For the record, I'm still struggling with the issue and have tried to resolve it every now and then (with limited time given for the subject). I suppose I'd also need to fork existing extension to make it work. Something fishy here, after all I'm working with extension that used to work with older Mozaik.

@plouc Can I expect Mozaik to work with Node 4.x+?

[2016-08-19 09:41] plouc commented on #91
@juhamust, have you tried to use node 4 with npm@3 ?

[2016-08-19 09:42] plouc commented on #91
BTW, mozaik 2 will only be compatible with Node v6+, because I don't want to use a transpiler while a recent Node version can handle es6 features :)

[2016-08-19 09:47] juhamust commented on #91
Most of the time I'm using Node 5.x which comes natively with npm 3(?). Not even sure if I can mix and match different Node and npm when using tools like nvm?

Anyway, if there are no known issues with Node 5.x or Node 6.x with Mozaik 1.x will continue with those.

[2016-08-19 09:49] plouc commented on #91
@juhamust you just have to:
[code]
it even works with Node v0.10.x

[2016-08-19 11:22] t3db0t commented on #82
I haven't tried since then, but I never got it to work

[2016-08-19 11:52] d2s commented on #88
Noticed that there are potential problems with `ws` as Gemnasium was warning about them:

![screenshot from 2016-08-19 14-44-19 gemnasium alert for mozaik project 2](https://cloud.githubusercontent.com/assets/135053/17809029/682f751a-661c-11e6-86ef-687950d7a8d3.png)

![screenshot from 2016-08-19 14-37-52 gemnasium alert for mozaik project](https://cloud.githubusercontent.com/assets/135053/17809031

[2016-08-19 11:58] plouc commented on #88
except from the required work, no :) Will consider it for Mozaïk 2

[2016-08-19 15:31] juhamust commented on #91
Ok, I had a yet another look into this: Apparently the issue was the _incorrect Mozaik instance_ in extension `node_modules`:

After running `npm link ../mozaik-demo/node_modules/mozaik` in extension folder, the extension started to work as expected. :+1:

So, despite the browserify-resolutions, it might be good idea to link _the same React_ and  _Mozaik_ modules one is developing the extension ag

[2016-08-21 03:01] plouc opened #98 "Adapt extensions for Mozaik v2"

[2016-08-22 08:18] wangtun opened #100 "can mozaik support reorder and resize?"

[2016-08-22 08:28] juhamust commented on #100
Based on my experience (http://dashing.io/) reordering and resizing can be tricky at times, whereas explicit model support by Mozaik works always.

Having said that, I'm not against the feature (as long as it is not the only way to arrange and size the widgets).

[2016-08-22 11:02] plouc commented on #100
@wangtun, as @juhamust said, Mozaïk only supports explicit sizing/ordering for now.

[2016-08-22 11:02] #100 closed

[2016-08-23 07:01] #96 closed

[2016-08-24 08:22] tomav opened #101 "Any way to add a custom stylesheet?"
Hi @plouc, just a general question.
I'd like to use http://fizzed.com/oss/font-mfizz on my dashboard.
Is there a simple way to inject je CSS file?

What do you suggest?

Thank you.

[2016-08-24 08:36] plouc commented on #101
@tomav, unfortunately, Mozaïk v1 doesn't provide a way to simply add css/fonts, Mozaïk v2 [is on its way](https://github.com/plouc/mozaik/tree/v2.x) and will allow this by simply import the resource from the main app.

[2016-08-24 08:38] plouc commented on #101
BTW it seems that [font-awesome](http://fontawesome.io/icons/) which is included by default provides similar icons.

[2016-08-24 08:44] plouc commented on #101
And if you want *transitionable* svg icons, you should have a look at [this](http://plouc.github.io/react-svg-buttons/) :)

[2016-08-24 11:52] liwanchong04719 opened #102 "how long update react"
i try to update react from 0.13.3 to 0.15.1, my program can't work .how long update the react

[2016-08-24 12:00] plouc commented on #102
@liwanchong04719 I'm [currently working on Mozaïk 2](https://github.com/plouc/mozaik/tree/v2.x) which support recent version of React, I hope to ship it in september, so please be patient…

[2016-08-24 15:05] tomav commented on #101
I was looking for icons per programming languages, not bundled in FA default set.
Thanks anyway, I'll have a look to Mozaik 2. I was working on a basic NewRelic extension but will probably postpone to make it work later with Mozaik 2.

[2016-08-24 15:05] #101 closed

[2016-08-24 20:55] juhamust commented on #101
My approach would be to create a custom theme.

[2016-08-25 02:38] wangtun commented on #100
@juhamust @plouc thank you very much!

[2016-08-25 14:31] plouc commented on #88
@kurtextrem https://github.com/plouc/mozaik/pull/103/files#diff-b9cfc7f2cdf78a7f4b91a753d10865a2R65 :)

[2016-08-26 06:01] kurtextrem commented on #88
Cool - I'd say this counts as fixed. If anyone needs a hacky solution for v1 contact me.

[2016-08-26 06:01] #88 closed

[2016-09-06 20:58] AHaymond opened #105 "Mozaik will not work on Mac OS x El Capitan"
Running `npm install` inside the cloned mozaik-demo directory ends up failing and producing the following error log.

[code]

[2016-09-06 21:09] AHaymond commented on #105
updated to latest node/npm and got it working... for now

[2016-09-06 21:09] #105 closed

[2016-09-07 04:04] plouc commented on #105
@AHaymond, yes, it's specified in the `package.json` (`engines`), I'll probably add `engine-strict` flag to make it more clear.

[2016-09-26 11:22] jhovgaard opened #107 "What is the right way to develop components in Mozaik?"
I'm struggling to figure out how to correctly develop in Mozaik. Right now I'm running `gulp build` and also manually restarting `npm start`, but it's very cumbersome.

Are there any guidelines?

Thanks for an amazing product!

[2016-09-26 11:33] plouc commented on #107
@jhovgaard, I agree, it's cumbersome… I'm working on Mozaik 2, which will improve the workflow (using webpack/hotreload/yaml based watched config), but it's a [work in progress](https://github.com/plouc/mozaik/issues?q=is%3Aopen+is%3Aissue+milestone%3A%22Moza%C3%AFk+V2%22).

[2016-09-26 11:35] plouc commented on #107
If you're brave you can use the v2, https://github.com/plouc/mozaik-demo/tree/mozaik-2, all you have to do is start the devServer `node devServer.js` and the regular backend server `npm start`.

[2016-09-26 11:36] plouc commented on #107
You also can use `gulp watch` with v1

[2016-09-26 12:06] jhovgaard commented on #107
Thanks for the quick answer!

I was brave (v2) but I instantly got stuck with:

[code]
Any help? :-)

[2016-09-26 12:32] plouc commented on #107
Which Node/npm versions are you using?

[2016-09-26 12:47] jhovgaard commented on #107
Node v6.6.0
npm 3.10.8

[2016-09-26 13:22] plouc commented on #107
@jhovgaard, it seems to be an issue with react-hot-loader, unfortunately I'm not able to reproduce it on OSX.

I'll try to use latest react-hot-loader but it requires some config changes.

[2016-09-26 13:33] plouc commented on #107
For now, it seems complicated to upgrade, this is a beta release and it lacks of documentation…

[2016-09-26 13:56] plouc commented on #107
@jhovgaard, I've tried another approach (restricting include for the webpack js loader).
Can you re-pull the demo (v2) and re-install (I think you can rm node_modules before) ?

[2016-09-26 14:28] jhovgaard commented on #107
@plouc that changed the result.

localhost:8081 throws an exception:
http://i.imgur.com/0xvuDOh.png

Looks like browserify not kicking in or something,

localhost:5000 is returning `Cannot GET /`

[2016-09-26 14:33] plouc commented on #107
Where is your extension code/what's the name of the directory ?
The rule for inclusion (babel…) is defined [here](https://github.com/plouc/mozaik/blob/v2.x/webpack.config.js#L55), your extension directory should be named `mozaik-ext-whatever`.

[2016-09-26 14:34] jhovgaard commented on #107
It's a completely fresh clone. No custom extensions added.
On Mon, 26 Sep 2016 at 16.33, Raphaël Benitte <notifications@github.com>
wrote:

[2016-09-26 14:38] plouc commented on #107
I think it has something to do with the regex and the windows path separator.

You should try to change the regex in `node_modules/mozaik/webpack.config.js` line 59.

[2016-09-26 14:49] jhovgaard commented on #107
It worked perfectly, thanks! :-)

[2016-09-26 14:49] #107 closed

[2016-09-26 14:51] plouc commented on #107
I'm glad to hear it and thank you for the PR.

[2016-10-01 19:43] juhamust commented on #24
With multiple widgets, this feature comes more and more wanted. Thus, here is my initial version for it: https://github.com/juhamust/mozaik-ext-switcher

However, it has some problem with data loading, as sometimes (most of the time) the data is not loaded properly. Care to share some consultancy, @plouc, what might be the issue ?

[2016-10-09 17:11] martyca opened #109 "error: weather.apiToken: must be of type String"
followed the instructions on mozaik.rocks.
cloned repo, check
npm install, check
gulp build, check
node app.js, fail

i get:
info: registered API 'mozaik' (mode: poll)
info: registered API 'github' (mode: poll)
info: registered API 'travis' (mode: poll)
error: weather.apiToken: must be of type String

node version: 6.7.0
npm version: 3.10.3

OS mac-osx

[2016-10-11 12:41] BonarBeavis commented on #82
@plouc I got it, too

[2016-10-11 12:42] benathmane commented on #82
@BonarBeavis This solution help me
http://www.guyellisrocks.com/2015/11/babel-cannot-read-property-error-of.html
remove all files .babelrc in node-modules subdir

[2016-10-11 12:51] BonarBeavis commented on #89
@plouc

You should update [http://mozaik.rocks/usage/](url)

[2016-10-11 15:21] contolini commented on #109
The [weather widget](https://github.com/plouc/mozaik-ext-weather#parameters) requires an [openweathermap API key](https://openweathermap.org/appid). You can add it to your dashboard's config.js file or simply define it before starting the app (i.e. `export WEATHER_API_TOKEN=XXXXXXXXXXX`).

[2016-10-11 15:25] plouc commented on #109
@martyca, @contolini is right.
When I first developed this extension, the API didn't required an API token.

[2016-10-11 15:25] #109 closed

[2016-10-12 19:33] juhamust commented on #24
Never mind, I figured out by myself: https://github.com/juhamust/mozaik-ext-switch/commit/81e3a64d8f0899f4f632c0ba1d68860d0c365f44#diff-3654cc213698058980abcf63f19994a0R40

[2016-10-12 19:34] juhamust commented on #24
Described behavior can be achieved with [mozaik-ext-switch](https://www.npmjs.com/package/mozaik-ext-switch)

[2016-10-12 19:34] #24 closed

[2016-10-19 02:08] wonderchang commented on #82
@benathmane But after removing them, the command `gulp build` become failed, this is not friendly when developing.

[2016-10-27 07:59] duxet opened #110 "Add new maintainers to project"
It seems like this project is a bit frozen right now. Maybe it would be a good idea to add new maintainers to this project to resolve this issue? @ArturGajowy seems to be a good candidate, if he would like to take this.

[2016-10-27 08:10] plouc commented on #110
Hi @duxet,

Thank you for the suggestion.

You're almost right, the project is not very active for now as I don't have enough time to work on it.

But if you look at the https://github.com/plouc/mozaik/tree/v2.x branch, you'll see more activity :)
I focus on the next release, which is already testable.

I'm not against adding new maintainers to the project,but before we jump into this, I'd like to

[2016-10-27 11:41] jtbonhomme commented on #82
Same error for me:

node v0.10.28
npm 3.10.7
Mac OS X 10.12
babel@5.8.38
mozaik@1.4.4

I followed the instructions :
[code]

[2016-10-27 12:15] plouc commented on #82
@jtbonhomme, the yeoman generator does not work, sorry, I should mark it as deprecated on the website and the repo. You should use the mozaik-demo instead.

[2016-10-27 15:43] jtbonhomme commented on #82
Ok Raphaël, thank you for your answer !

Envoyé de mon iPhone

[2016-10-30 10:03] juhamust commented on #110
Thank you for your recognition, @plouc. Extensions and documentation are easy easy way to contribute to the project, when you have limited time available (as people usually do). But I know from the fact those contributions can motivate the project author, hence being beneficial for the others, too :)

Speaking of motivation, here's an image from [SC5](http://sc5.io) office, utilising the Mozaik po

[2016-11-02 20:11] ammmze commented on #109
Might be a good idea to update the usage demo (http://mozaik.rocks/usage/) ;)

Running through the steps on there give this error.

I got it working with `export WEATHER_API_TOKEN=XXXXXXXXXXX && node app.js`. Obviously the token is invalid, but at least gets past the string check to allow it to start up and can play with the demo.

[2016-11-22 20:25] wojciiii opened #111 "How to use mozaik-ext-value widget / enable more logging to stdout/stderr?"
I'm trying to use mozaik-ext-value widget with the demo from https://github.com/plouc/mozaik-demo.

My App.jsx:

`import React   from 'react';
import Mozaik  from 'mozaik/browser';
import github  from 'mozaik-ext-github';
import travis  from 'mozaik-ext-travis';
import time    from 'mozaik-ext-time';
import weather from 'mozaik-ext-weather';
import extvalue from 'mozaik-ext-value';

const MozaikCo

[2016-11-24 11:16] plouc commented on #111
@wojciiii, I don't know how mozaik-ext-value works internally, but just looking at the client's code, it seems it does not provides logs.

[2016-11-24 11:22] plouc commented on #111
And I just noticed you have renamed the extension when registering it:

[code]

And the type should be `value.value` (https://github.com/arildwtv/mozaik-ext-value/blob/master/README.md).

[2016-11-24 11:22] #111 closed

[2016-11-24 13:39] wojciiii commented on #111
Thanks. I will try to use this again with your comments. :)

My problem was more that I was unable to get any indication about what is wrong from the output when I ran "node app".

[2016-11-24 14:01] plouc commented on #111
@wojciiii, because in fact nothing is *wrong* on the server side, your component is unknown by the frontend, so it doesn't call the backend, that's why you don't have any log, but I think you should have a log in your browser console saying the component does not exist.

[2016-11-24 14:38] wojciiii commented on #111
Ah. Stupid me. I was expecting some kind of timeout in the shell from which I executed node and I did'nt look in the browser. Thanks. :)

[2016-12-06 09:36] ududsha commented on #82
Got the same error under the same condition which @jtbonhomme mentioned. Any solution found by anyone?

[2016-12-06 09:48] juhamust commented on #82
@ududsha are you using [mozaik-demo](https://github.com/plouc/mozaik-demo) or yeoman generator as a base? If latter, use the mozaik-demo instead.

[2016-12-10 05:06] plouc commented on #110
@juhamust, I've updated [extensions listing](http://mozaik.rocks/extensions/), also added a step by step guide on [how to automatically and freely build/host/publish an extension demo](http://mozaik.rocks/v1/hack/extension-demo/), if you want to try it out for one of your extension, I'll be interested in your feedback :).

[2016-12-10 05:09] plouc commented on #110
@juhamust, while I'm working on the website, do you mind if I add a reference to SC5 on the homepage ?

[2016-12-10 05:11] plouc commented on #82
I've removed the reference to yeoman generator from the README and website.

[2016-12-10 11:30] juhamust commented on #110
Thanks @plouc, we'd be more than happy to have our company logo listed in Mozaik homepage - after all, we've happy users of Mozaik for some time now 👍

Here is the ready-made logo (https://sc5.io/):

![sc5](https://cloud.githubusercontent.com/assets/781002/21072973/4404c104-bedc-11e6-9677-51f56120e7ba.png)

I'm also looking forward to contribute to the project also in the future - at least in form

[2016-12-12 00:56] plouc commented on #102
@liwanchong04719, Mozaïk v2 comes with React 15, see installation instructions [here](http://mozaik.rocks/v2/use/).

[2016-12-12 00:56] #102 closed

[2016-12-12 00:58] plouc commented on #59
Mozaïk v2 now uses webpack, see installation instructions [here](http://mozaik.rocks/v2/use/).

[2016-12-12 00:58] #59 closed

[2016-12-12 01:00] plouc commented on #60
@kurtextrem, sorry for the late reply, can you share your `package.json`, `config.js`, app and server entry points ?

[2016-12-12 01:02] plouc commented on #60
@benediktvaldez, Mozaïk v2 now uses webpack, see installation instructions [here](http://mozaik.rocks/v2/use/).

[2016-12-12 01:14] plouc commented on #87
@kurtextrem, removed the timer and added documentation on the `inspector` widget (for [v1](http://mozaik.rocks/v1/use/widgets/) and [v2](http://mozaik.rocks/v2/use/widgets/)).

[2016-12-12 01:14] #87 closed

[2016-12-12 01:41] plouc commented on #110
@juhamust, thank you! I've added the logo, I've changed the color for plain black, I hope it's not a problem.

[2016-12-18 15:03] gazab commented on #98
Here's mine for mozaik-ext-teamcity: https://github.com/gazab/mozaik-ext-teamcity/pull/2

Work in progress!

[2016-12-18 15:29] plouc commented on #98
@gazab nice! I add it to the list

[2016-12-23 03:35] jonnyscholes opened #113 "Custom titles for widgets"
Hi there - we're looking at using this at Takeflight where we have dozens of client projects each with their own repo, analytics, servers etc. I'm hoping to be able to have a few dashboards that give us some insight into our overall progress and stats on all projects.

Currently for most extensions if I add more than one widget for different projects they end up with the same title (eg GitLab merg

[2016-12-23 04:36] plouc commented on #113
@jonnyscholes, thank you for your interest for Mozaïk.

You're right, it's the responsibility of each extensions, because some could have no title at all and others such as `mozaik-ext-time` use placeholders for titles.

`mozaik-ext-github` offers title override, but most of the others don't.

If you don't mind (and use it of course), I'll be happy to add Takeflight to the Mozaïk references :)

[2016-12-23 04:41] plouc commented on #113
You can also use dashboard title if you have one for each project.

[2016-12-23 04:46] plouc commented on #113
A final note, Mozaïk v2 will change the way you install/configure it, but if you don't develop custom extensions/themes, you could just install the v2 and update the config file.

[2016-12-23 04:46] #113 closed

[2016-12-23 18:04] plouc commented on #60
I close this issue as there's not much activity and the original issue should be solved with webpack.

[2016-12-23 18:04] #60 closed

[2017-01-05 13:05] dduleep opened #115 "install error npm install"
|

module.js:327
    throw err;
    ^

Error: Cannot find module 'babelify'
    at Function.Module._resolveFilename (module.js:325:15)
    at Function.Module._load (module.js:276:25)
    at Module.require (module.js:353:17)
    at require (internal/module.js:12:17)
    at Object.<anonymous> (/home/ubuntu/workspace/mozaik-demo-master/node_modules/mozaik/gulp/tasks/js.js:9:19)
    at Module._compile

[2017-01-05 14:12] plouc commented on #115
You should try with npm 3 => https://github.com/plouc/mozaik/blob/master/package.json#L15

[2017-01-16 15:47] paolomainardi commented on #110
@juhamust your dashboard looks great! Can you share some info (maybe code) about the widgets and where the data come from ? Thanks!

[2017-01-16 17:38] juhamust commented on #110
Thanks @paolomainardi - big thanks to goes to Mozaik -project itself, too :) Most of the widgets seen in photo we've already published as open source / are available:

- https://github.com/SC5/mozaik-ext-calendar
- https://github.com/SC5/mozaik-ext-analytics
- https://github.com/juhamust/mozaik-ext-slack
- https://github.com/plouc/mozaik-ext-weather

To be exact, the photo does not include all the

[2017-02-11 20:11] bonesoul opened #117 "is mosaik mountable on an existing express app?"

[2017-02-11 20:43] juhamust commented on #117
Well, you can pass existing express app: https://github.com/plouc/mozaik/blob/master/src/Mozaik.js#L37

This comes handy if you want to implement some server side features like authentication.

[2017-02-26 05:10] sourcesoldier opened #118 "Could not proxy request /config from localhost:3000 to http://localhost:5000"
I'm trying to run the mozaik2 demo locally on my Mac with npm installed thru homebrew.

It launches the browser window but then throws an error. Please see screenshot attached.

![image](https://cloud.githubusercontent.com/assets/4140294/23337332/c3c88688-fb9e-11e6-82f4-02ec3ac95ee3.png)

Current env versions:

npm -> 4.1.2
node -> 7.6.0

[2017-03-01 20:03] elementsweb commented on #118
I've experienced the same issue, I fixed it by adding this at the top of my `config.yml` file:

[code]

[2017-03-08 11:18] secabhi opened #119 "can i use other charting lib with mozaik"
can i use any other charting library with mozaik . If yes can i have proper documentation for using it

[2017-03-08 11:26] plouc commented on #119
Yes you can, but you should refer to the documentation of the library you wish to use, for example https://github.com/SC5/mozaik-ext-analytics/ uses http://c3js.org/.

[2017-03-08 11:26] #119 closed

[2017-04-10 08:53] glenjamin opened #120 "V2: Cannot return array as data from server"
Hi there,

I'm trying out mozaik as I was after a React/Node.js alternative to smashing, it's looking good so far. I'm pretty familiar with webpack HMR, redux etc so I figured I'd have a go with v2.

I ran into a slightly surprising issue, which took a while to track down - API endpoints can't return arrays.

This seems to be because the state uses `.merge` on the API response into an immutable ob

[2017-05-04 08:28] EmrysMyrddin opened #121 "Enable notifications for widgets"
There is a notification system already in place. It could be useful for widgets having the possibility to send notifications.

It can be as simple as giving notification actions as props to widgets components ?

[2017-05-04 10:31] muffinresearch opened #122 "v2 Add support for listening to a socket"
To deploy this on heroku with nginx in front requires configuring the app to use a socket path instead of a host/port.

I hacked this into my v2.x fork here: https://github.com/muffinresearch/mozaik/commit/a8bb9683ab27860a10c846857deb21d24310ead4

If supporting this would be accepted I would definitely consider making a formal PR.

[2017-05-04 10:35] muffinresearch opened #123 "v2 settings import is the wrong case"
V2 Builds under a case-sensitive OS break because the `settings` import is incorrectly cased.

Here's the patch required to fix it: https://github.com/muffinresearch/mozaik/commit/c07df8469c19a2ef2567f0ce93ad44634db33e7a

This also sounds like it might be a useful tool for preventing similar issues: https://github.com/Urthen/case-sensitive-paths-webpack-plugin

[2017-05-24 17:51] nixchikleo commented on #82
@plouc due to bureaucracy etc I cannot use the demo for a few days. was there ever anyway to fix error thrown by the generator?

[2017-06-29 08:19] andrewmurray commented on #118
Hi, I'm experiencing the same problem as @sourcesoldier. @elementsweb, could you provide a bit more context to those settings that you added? Does the top 15 lines of your config look like this?
[code]

[2017-06-29 12:44] frankwallis commented on #118
I think the solution to this is to run ```node server.js``` instead of ```npm start```

[2017-07-03 15:11] elementsweb commented on #118
@andrewmurray your config looks good. I think the reason I set the port to be 3000 explicitly was because it was trying to proxy port 3000 to port 5000 - I couldn't see any reason for it doing this so set it to 3000 in the config.

As for for the host being set to 0.0.0.0 - this is useful if you want to preview your dashboard on another device connected to your private network.

@frankwallis I thi

[2017-07-14 02:53] plouc commented on #117
As the response from @juhamust seems fine, I close this issue

[2017-07-14 02:53] #117 closed

[2017-07-15 03:36] plouc commented on #123
I'm switching from manual react setup for demo to create-react-app for easier setup, which [include this plugin](https://github.com/facebookincubator/create-react-app/blob/master/packages/react-scripts/package.json#L31).

[2017-07-15 03:42] plouc commented on #118
If you want to be able to proxy from the dev server to Mozaïk server, you can configure it through [package.json](https://github.com/plouc/mozaik/blob/v2.x/examples/basic/package.json#L16).

[2017-07-15 03:42] #118 closed

[2017-07-15 03:43] #123 closed

[2017-07-15 09:17] plouc commented on #120
@glenjamin, sorry for the late reply, you're right, I'll use `.setIn()` instead, currently working on it.

[2017-07-15 09:28] plouc commented on #120
Fixed with https://github.com/plouc/mozaik/commit/f098537fd43c5093a2c31270dfce09890934b383

[2017-07-15 09:28] #120 closed

[2017-07-15 09:30] plouc commented on #121
@EmrysMyrddin, notification system is available for *system wide* notifications, what use case are you trying to cover ?

[2017-07-15 09:34] plouc commented on #122
@muffinresearch I definitely agree :)

[2017-07-15 09:39] plouc commented on #115
Any news on this using npm3 or yarn ? I close this issue as it has been inactive for a while.

[2017-07-15 09:39] #115 closed

[2017-07-15 09:44] plouc commented on #82
Removed the ref to generator => https://github.com/plouc/mozaik/blob/master/README.md

[2017-07-15 09:44] #82 closed

[2017-07-27 12:22] pachibadilla-scmspain opened #124 "V1 gulp build failure"
Hi,
I've installed v1 but in package json it misses 'npm run build' task :-(

When I load 'gulp build' it showes me an error:

gulp build
 Using gulpfile ~/vagrant/projects/mozaik-demo/mozaik/gulpfile.js
 Starting 'copy:fonts'...
 Copying fonts
 Starting 'copy:styles'...
 Copying styles
 Starting 'copy:imgs'...
 Copying images from extensions and themes
 Starting 'collect:styles'...
 Collecting ex

[2017-07-27 12:40] plouc commented on #124
As the last line says, you must have a config file named `config.js`

[2017-07-27 12:40] #124 closed

[2017-07-27 13:37] pachibadilla-scmspain commented on #124
OK, I've added a config.js file but there's another error >
Cannot find module '/Users/pachi.badilla/vagrant/projects/mozaik-demo/mozaik/src/App.jsx'

Ok, so I relaunch it build npm task....oh...."npm run build" >
npm ERR! missing script: build

:-(

 I don't see it on repository. Sorry.

[2017-07-27 13:55] plouc commented on #124
Please can you provide info about your OS, Node.js/nom version mozaik version & mozaik-demo commit ?

[2017-07-28 08:32] pachibadilla-scmspain commented on #124
Yes, of course.

OS > macOS 10.12.5 (16F73) SIerra
Node version > v7.8.0
nvm version > 0.33.1
mozaik-demo version > 1.4.4

Anything else?

Thanks a lot.

[2017-08-02 08:31] CallumBrankin opened #125 "Unable to find API matching id for multiple extensions"
I've been trying a few extensions out but none of them seem to register their API. I've tried the github, json, value and multijson but they all fail!

server.js:

[code]

App.jsx:

[code]

config.js:

[code]

[2017-08-02 08:40] plouc commented on #125
Which version of Node.js/npm, mozaik/extensions are you using ?

For the server code, it should be:

[code]

What logs do you got when running the backend ?

[2017-08-02 08:40] CallumBrankin commented on #125
I'll try your initial solution first

[2017-08-02 08:44] CallumBrankin commented on #125
There we go! You have to have a registerApi for each extension! Thanks for clarifying.

[2017-08-02 08:48] plouc commented on #125
It can be confusing because the frontend code accept several extensions at once (but use plural `addExtensions()`).

[2017-08-02 08:48] #125 closed

[2017-08-23 10:23] CallumBrankin opened #126 "Possible to manually change dashboard panel?"
Is it possible to manually change dashboard panel on button click or event?

[2017-08-23 10:31] plouc commented on #126
Not in v1, but in v2 you've got a player

<img width="246" alt="capture d ecran 2017-08-23 a 19 30 59" src="https://user-images.githubusercontent.com/501642/29611725-a72e10d8-8839-11e7-9e02-6b5693fd6af5.png">

[2017-08-23 10:31] #126 closed

[2017-08-23 10:44] CallumBrankin commented on #126
Is the player an extension? if so where can i find the source code?

[2017-08-23 13:36] plouc commented on #126
Not an extension, it's part of `@mozaik/ui` package, source code for the component is available [here](https://github.com/plouc/mozaik/blob/v2.x/packages/ui/src/components/dashboard/DashboardPlayer.js).

[2017-09-08 13:10] apognu opened #128 "[v2] apisPollInterval ignored"
Hi,

It seems that the ```apisPollInterval``` directive from my configuration file is ignored, APIs are polled every 15 seconds (the fallback value, I believe).

I tested both ```v2.0.0-alpha.4``` from NPM and ```v2.0.0-alpha.7``` from the git tag and have the same behavior.

15 seconds is really too short for some of my APIs that have to crunch a lot of data.

Also, is there a way to specify a po

[2017-09-11 15:36] vagnervst commented on #128
Same problem here. Did you find any solution?

[2017-09-12 22:45] plouc commented on #128
@apognu I'll have to investigate on this, for the per API interval, I would like to add it but it require a little bit of work :)

[2017-10-10 16:55] prabirshrestha opened #129 "run mozaik ui without backend"
Any plans to support mozaik without backend like [Freeboard](https://github.com/Freeboard/freeboard)?

[2017-11-03 15:05] knackjax opened #130 "Can't seem to run mozaik v2 in development mode"
Modified package.json to have development server to run on the same port.
....
  "scripts": {
    "start": "PORT=5000 react-scripts start",
     ....
  }
...

However I get connection refused issues (Error 500) when the dashboard loads
An error occurred while fetching configuration: Unable to fetch configuration: Internal Server Error (500)

In terminal

Compiled successfully!

You can now view mo

[2017-11-07 16:09] CallumBrankin opened #131 "Is it possible to load different configurations depending on the environment (V1)?"
Currently i'm trying to use environment variables to load different configurations depending on what environment it is in. For example if i set 'development', it'll load the dev config. If i set 'production' it'll load the production config.

Is this possible?

[2017-11-15 05:25] juhamust commented on #131
It is a JavaScript file, so one can do all kind of logic there. I've used this approach:
[code]
But nothing prevents you from doing stuff like:
[code]

[2017-11-16 07:24] plouc commented on #131
@juhamust, thank you :) @CallumBrankin, did you achieved what you wanted?

[2017-11-16 07:27] plouc commented on #129
No, sorry :/ the components' logic is tied to backend implementation (websockets, subscriptions, config…).

[2017-11-16 07:27] #129 closed

[2017-11-19 19:33] vagnervst opened #132 "Get API Data as state"
Hello! I'm trying to implement a real time data filtering on one of my Widgets, but in order to do that, I need to set the data as a state. The problem is: the data is only available at `render()` method, and if I call `setState()` from there, React will end up in a infinite loop. Is there a `onApiData()` handler, or alternative I can use? =)

Thanks!

[2017-11-20 03:30] plouc commented on #132
Hi, Maybe you should use [`componentWillReceiveProps`](https://reactjs.org/docs/react-component.html#componentwillreceiveprops) for this.

[2017-11-23 22:26] vagnervst commented on #132
@plouc Using `componentWillReceiveProps` I was able to create a state and prevent the bus from updating my data when the filter was applied. Thanks!

[2017-11-23 22:27] #132 closed

[2017-11-24 18:16] gogogous88 commented on #118
i mean, you have not start your backend server!!!!! try start both backend and front end server concurrently

[2017-11-28 13:47] JafferWilson opened #133 "How to make it draggable?"
I want to know how I can make the widgets draggable and display as per my visual? Say for example Grafana.com. They have the draggable functionality.
Kindly, let me know  your views soon.

[2017-12-02 19:45] juhamust opened #134 "Empty widget Registry while porting extension"
I finally started porting my Mozaik extensions, starting with `switch.Widgets` extension: https://github.com/juhamust/mozaik-ext-switch/blob/mozaik-2/src/components/Widgets.js

I expect this issue being in my extension-in-port, but do you @plouc have any pointers why the Mozaik widget Registry does only contain the `mozaik.Inspector` and no others? Does Mozaik still use single instance as in Mozai

[2017-12-03 08:04] juhamust commented on #130
@plouc is there a public repo for [mozaik.rocks](http://mozaik.rocks/) site? So that people could suggest additions or fixes via PRs?

[2017-12-03 08:13] plouc commented on #130
https://github.com/plouc/mozaik-website

[2017-12-04 14:32] gordonjl opened #135 "My Custom Extension Not Found"
I'm quite new to node module development and could use some help.

## The Problem
I'm creating a new component. I'm using `npm link` to develop it in Mozaik v1, using the  `time.clock` component as an example. I get a `No component defined for type` error on startup.

## Thoughts
### I'm not naming the extension correctly
I've verified the name of my component follows the standard: `mozaik-ext-bud

[2017-12-04 14:45] plouc commented on #135
Hi @gordonjl,

You must also register your extension, see https://github.com/plouc/mozaik-demo/blob/master/src/App.jsx (for v1) or https://github.com/plouc/mozaik/blob/v2.x/examples/basic/src/register_extensions.js for v2.

You should have the following structure:
[code]

and `index.js` should export the available widgets like this:

[code]

[2017-12-04 14:46] plouc commented on #135
Also did you used the mozaik v2 with the mozaik-ext-time for v1 or mozaïk v2 for mozaik-ext-time for v2?

[2017-12-04 14:48] plouc commented on #135
The code for widget name is here (v1) https://github.com/plouc/mozaik/blob/master/src/browser/component-registry.js#L23

[2017-12-04 20:52] gordonjl commented on #135
I'm using v1. I'd use v2 but I don't see documentation there yet and the `alpha` scared me away ;-).

I think there's something wrong with how I'm trying to develop the component using `npm link`. Should I use `npm link`? What other way is there to develop a component and see it in the `mozaik-demo` application?

I did a test:

1. Make a copy of `mozaik-ext-time` into an external folder
1. Rename

[2017-12-04 21:04] plouc commented on #135
Do you have a repo with the code so I can have a look at it?

[2017-12-04 21:08] plouc commented on #135
including mozaïk, ideally (on GitHub):

[code]

[2017-12-04 21:14] plouc commented on #135
Hum, I just remembered something, do you have mozaik & react installed in the extension's node_modules folder? If so, you should try to remove them.

[2017-12-04 21:46] gordonjl commented on #135
I've forked the demo project, copied `mozaik-ext-time` to `[root]/mozaik-ext-jgtime` and set up `npm link` like so:

Here's the fork: git@github.com:gordonjl/mozaik-demo.git

[code]

then executed the link command in the demo project:

[code]

I modified `config.js` and `App.js` to include the copied module I made then ran the app. I'm still getting the same exception:

[code]

Thanks for your hel

[2017-12-04 22:00] plouc commented on #135
It works, what I've done:

- cloned the repo
- `yarn install`
- `cd mozaik-ext-jgtime && yarn install && yarn link && cd ..`
- `yarn link mozaik-ext-jgtime`
- `yarn build-assets`
- `yarn start`

[2017-12-05 02:01] gordonjl commented on #135
Okay, we have success!

I've been using `npm` instead of `yarn`. Everything works fine after I started using `yarn`. I thought I could use `npm` or `yarn` with no difference.

Thanks for your help.

[2017-12-12 13:18] #135 closed

[2017-12-13 12:14] GuillaumeAmat opened #136 "Rename the bordeau theme"
An X is missing at the end of the word: Bordeau**x**

[2017-12-13 12:38] GuillaumeAmat commented on #136
I proposed 2 PRs:
- https://github.com/plouc/mozaik/pull/137
- https://github.com/plouc/mozaik-website/pull/7

[2017-12-13 16:25] pagameba commented on #130
I also cannot get this to work.  I tried running `node server.js` in a separate process followed by `yarn start`.  The resulting error is

    An error occurred while fetching configuration: Unexpected token < in JSON at position 0

which happens loading the `/config` endpoint from localhost:3000 and the response contains the HTML content of the page rather than the configuration.  The dev server

[2017-12-13 16:35] plouc commented on #130
@pagameba, config should be served on 3000 because of the proxy https://github.com/plouc/mozaik/blob/v2.x/examples/basic/package.json#L20

[2017-12-13 18:31] pagameba commented on #130
Brilliant!  For some reason I removed the proxy config while trying to get stuff to work, thanks working great now!

[2017-12-14 12:15] hgcummings commented on #110
Hi @plouc: I've been using Mozaik v2 for several months and am planning to raise some PRs over the next week or so for some features and minor bug fixes that we've made.

I'd be happy to make other contributions too while I'm at it. Is there anything in particular that would be useful for getting Mozaik v2 out of alpha?

[2017-12-14 12:20] plouc commented on #110
@hgcummings, awesome! mainly documentation in fact… the website contains slate guides

[2017-12-29 10:51] juhamust commented on #134
Root cause: Setup _was_ having multiple Mozaik instances under node_modules (both under `mozaik-demo` and `mozaik-ext-xyz`). After removing the obsolete files the registry lists all the registered widgets.

[2017-12-29 10:51] #134 closed

[2018-01-03 10:38] BenchR267 opened #147 "Favicon support"
In the latest release (April 2016) there is no support for favicons, which was added later in https://github.com/plouc/mozaik/commit/1cbbcdb1e5a56ba657c7bcabf9e7b588874bdccf. When is a new stable release planned which includes this feature?

Thanks in advance and happy new year!

[2018-01-14 03:54] sanderpick opened #148 "[v2] Allow api `mode` to be set"
Awesome library! Just started playing around with it. Probably intentional, but curious why [`Mozaik.registerApi`](https://github.com/plouc/mozaik/blob/v2.x/packages/server/src/index.js#L116) aliased to `Bus.registerApi` doesn't allow setting `mode`? `bus` isn't exported, so, it doesn't seem like there's currently a way to register a `push` api, could be missing something though.

[2018-01-21 15:58] DeltaEvo opened #149 "[v2] Bump @mozaik/ui version and publish it on npm"
The npm version is outdated

[2018-01-27 10:35] juhamust commented on #98
Some recent additions:

- [mozaik-ext-image](https://github.com/juhamust/mozaik-ext-image) --> [pull request](https://github.com/juhamust/mozaik-ext-image/pull/2)
- [mozaik-ext-switch](https://github.com/juhamust/mozaik-ext-switch) --> [pull request](https://github.com/juhamust/mozaik-ext-switch/pull/2)

[2018-04-13 22:11] Immortalin commented on #133
@plouc it's a pretty important feature, most other dashboard libraries have it

[2018-04-13 23:45] plouc commented on #131
I close this issue as I got no update on it, hoping you succeeded.

[2018-04-13 23:45] #131 closed

[2018-04-17 17:32] juhamust commented on #133
I personally like the explicit approach, where you define the order and placements in the code instead of trying to fight with the draggable grid where the grid/system tends to guess the my intentions often wrong :(

[2018-05-26 19:58] ktamilvanan opened #155 "user dashboard"
I am looking to use mozaik to provide dashboard a based on the logged in user. What is the right way to achieve this functionality? Can the server be updated with multiple user's dashboard and client be specific to the logged in user?

[2018-05-28 09:38] juhamust commented on #155
You _might_ be able to achieve the wanted functionality by authenticating the user and then using the current user identifier to fetch the correct content in each client.

https://github.com/plouc/mozaik/issues/117

[2018-07-30 06:44] plouc commented on #149
I've published `@mozaik/ui@2.0.0-alpha.23`

[2018-07-30 06:44] #149 closed

[2018-07-30 06:45] plouc commented on #147
You can add a favicon by putting it inside `public` directory

[2018-07-30 06:45] #147 closed

[2018-07-30 06:45] #130 closed

[2018-07-30 12:36] plouc commented on #136
I've renamed this theme to **wine** ;)

[2018-07-30 12:36] #136 closed

[2018-07-30 12:46] plouc commented on #148
`registerApi` is now a pure alias, see https://github.com/plouc/mozaik/blob/master/packages/server/src/index.js#L112

[2018-07-30 12:46] #148 closed

[2018-07-31 07:15] plouc commented on #128
will be fixed by https://github.com/plouc/mozaik/pull/159

[2018-07-31 07:48] plouc commented on #128
fixed by https://github.com/plouc/mozaik/pull/159

[2018-07-31 07:48] #128 closed

[2018-07-31 07:49] plouc commented on #128
please note that it must be defined this way:

[code]

[2018-08-08 23:07] brenopolanski commented on #28
@plouc the Mozaik v1 use wss for ws connection?

[2018-08-09 09:53] plouc commented on #28
@brenopolanski it can

[2018-08-09 18:59] robblovell commented on #97
Hi, Beyond development of extensions, is support being added for hot reload of the dashboard based on both adding of extensions and configuration changes? I guess this would look something like this:

Add a new extensionto App.jsx & server.js, and/or changes to the config.js file would hot reload the dashboard. I would imagine in this mode, that changes to the jsx or js files would run weback and

[2018-08-09 19:25] plouc commented on #97
You can try the actual implementation with the master branch, using the following commands:

[code]

[2018-08-15 08:41] buggtb opened #161 "How to mount on path?"
Hello, I've been handed a dashboard designed on top of this great framework. The issue I have is I need to stick it behind an apache server on a url scheme like /dashboard

When I mount it under mod_proxy like:

        ProxyPass /dashboard http://localhost:3000/
        ProxyPassReverse /dashboard http://localhost:3000/

When I go to the dashboard it starts to render but tries to find the /config

[2018-08-29 15:06] mahesh-cn commented on #118
Had a similar problem and realized that I was inside the client folder rather than the parent server folder when I ran "npm start"

[2018-09-06 08:32] hqro opened #162 "mozaik.rocks is down"
Can you provide some examples on README.md instead ?

[2018-09-06 08:33] plouc commented on #162
Didn't renewed the domain… will fix this asap

[2018-09-06 11:14] plouc commented on #162
up :)

[2018-09-06 11:14] #162 closed

[2018-09-28 05:24] lslinnet opened #163 "On version 2, when using the demo the server.js failed"
Just checking out the demo repo from github, checking out the mozaik-2 branch and starting the server.js.

Further testing showed that this was due to fails in the npm install process. which are shown as an option on the website.

[code]

[2018-09-28 05:51] lslinnet commented on #163
Seems this might have been outdated node_modules :/

[2018-09-28 05:51] #163 closed

[2018-09-28 05:52] juhamust commented on #163
Relates: https://github.com/plouc/mozaik-demo/issues/17

[2018-09-30 08:01] dzarasov commented on #118
Spent all day fixing this, so this solution works for me:

  "proxy": {
    "/api/*": {
      "target": "http://[::1]:8080"
    }
  }

[2018-10-05 04:06] sshaginyan opened #164 "Check the render method of `WidgetHeader`. For Mozaik V2"
So I ran npm start and node server.js and got this error message.

![screen shot 2018-10-04 at 9 04 59 pm](https://user-images.githubusercontent.com/325014/46515536-37c20580-c819-11e8-8604-86b589d79957.png)

proxyConsole.js:56 Warning: React.createElement: type is invalid -- expected a string (for built-in components) or a class/function (for composite components) but got: undefined. You likely fo

[2018-10-09 12:08] EmrysMyrddin commented on #121
For example, it could be great to notify the user in case of error ?
Or to allow a widget to make an alert.

I'm not using dashboards for BI or monitoring but for information display in my company workspace. And some of my widget could throw some alert sometime (A build failed in production ! for example).

[2018-10-21 12:15] georgemarin commented on #118
If anyone else had this problem, how I solved it all the time, replace localhost to 127.0.0.1 in your package.json proxy

[2018-10-21 18:56] dzarasov commented on #118
To avoid all this problems use nginx, super easy and will handle all this cases.

[2018-10-23 19:35] djschoone commented on #163
The solution in https://github.com/plouc/mozaik-demo/issues/17 fixes the demo. I think the instruction misses starting your server `node server.js`

[2018-10-28 16:49] gaborszekely commented on #118
Guys, I also was getting this error message all afternoon and it was driving me crazy.

What fixed it for me was, I was running concurrently and originally had my scripts set up like this, which was causing the error:
    "start": "nodemon server.js",
    "client": "npm start --prefix client",
    "dev": "concurrently \"node start\" \"npm run client\""

However, once I changed the commands to:

[2018-10-30 14:35] delikatessa opened #166 "Config route"
I'm deploying Mozaik dashboard in the subdirectory(e.g. localhost:8001/x/y) inside another react app (e.g. localhost:8001). All apps are running inside their own docker containers. I had the issue not being able to fetch config. And here is the way I solved it. Is there some other proper way to do it?

[code]

where I add REACT_APP_BASE_URL=localhost:8001/x/y in Dockerfile of the dashboard app.

I

[2018-10-31 17:36] brianespinosa commented on #166
@delikatessa are you using v1 or v2 of Mozaik?

[2018-11-07 09:36] delikatessa commented on #166
v2

[2018-11-07 15:30] brianespinosa commented on #110
@plouc Thanks for your work on Mozaik. I'd like to check in to see if you still plan on moving forward with v2 and if you are interested in adding maintainers to help out and possibly create a Mozaik org to better organize all of the dependencies and extensions.

I submitted a pull request to fix the weather widget due to an API change and found there was already a pull request to fix it that was

[2018-11-08 10:30] delikatessa commented on #166
@brianespinosa thanks for the feedback! I will look into it. The thing is I don't want to fork the project just for this change.

[2018-11-21 15:54] delikatessa commented on #164
check issues in mozaik-demo repo, e.g. https://github.com/plouc/mozaik-demo/issues/17

[2018-11-26 03:37] alexcurtin commented on #164
same issue, don't see it referenced in mozaik-demo issues

[2018-11-26 03:59] alexcurtin commented on #164
@delikatessa Can you help me get v2 working locally? the instructions aren't working and even after patching it I run into the issue above, any help would be appreciated thanks!

[2018-12-05 21:52] alexcurtin commented on #164
bump

[2018-12-12 15:52] Moulde commented on #28
It seems the demo is trying to connect to ws, which chrome blocks because it got the site via https.

[2019-01-04 17:11] chethanbhat commented on #118
My script started working when i eliminated &&
Previously it was ` "dev": "concurrently \"npm run client\" && \"npm run server\""`
Changed it to ` "dev": "concurrently \"npm run client\" \"npm run server\""`

[2019-01-09 03:53] jeznag commented on #110
@plouc checking in on this as well. I'm evaluating whether to use Mozaik and am a bit put off by the number of open PRs that don't have any comments on them and thus appear to be stale.

[2019-01-20 00:31] AmitTeli opened #167 "Responsive Dashbaord"
Mozaik Dashboard is working great!
However, they are not mobile friendly. Can they be made responsive with some theme/css changes?
This is how it currently looks on mobile emulator.
Essentially, all the widgets should come one below another.
Please let me know if it is already possible through configuration.

Thanks!

![image](https://user-images.githubusercontent.com/9777847/51433787-74a2f280-1c7

[2019-02-14 07:51] przemuh opened #168 "[Enhancement] Keyboard support to switch dashboards (space, left, right)"
On my team dashboard-tv I needed to hide all headers from mozaik to get more space for widgets. I have three screens with 15s duration.

It would be nice if I could pause duration via SPACE key. Moreover it would be nice to have the possibility to go to the next/prev screen via LEFT/RIGHT ARROW key.

@plouc what do you think? I would love to implement this and make a pull request. But first I want

[2019-02-14 07:53] plouc commented on #168
@przemuh, good idea! It could be a great addition

[2019-02-14 07:54] przemuh opened #169 "[Enhancement] Serve multiple dashboards based on config file"
Instead of serving one page on root path `/` it would be nice to serve proper dashboard based on config name in path.

Example folders/files:
[code]

Router paths:
[code]

@plouc what do you think ?

[2019-03-05 15:10] #168 closed

[2019-03-05 17:45] tgranqvist commented on #161
Hello. I changed the following and it seems to work in Chrome and Edge.

In ./node_modules/mozaik/src/browser/stores/ConfigStore.js, change the line
[code]

into

[code]

And in ./node_modules/mozaik/src/browser/stores/ApiStore.js, replace the line defining wsUrl with
[code]

[2019-03-20 17:08] VikramTantravahi opened #171 "Navigation between dashboards"
I am looking for navigation between these dashboards like via `on-click` versions and also saving the displayed data to backend databases. Anyone worked on anything similar?
Would be open to discuss.

[2019-03-20 17:13] plouc commented on #171
There's already a navigation available in v2 in the top bar.

[2019-03-20 17:14] plouc commented on #171
However nivo doesn't handle the data storage, you'll have to put something in the middle.

[2019-03-20 17:22] VikramTantravahi commented on #171
Oh thanks for the quick response.
I'll try out V2, but I am mostly using and customizing `mozaik-ext-jenkins` which still seems to be compatible only for V1.

[2019-03-27 20:40] plouc commented on #164
Yes, v2 requires a newer version of `react` & `react-dom`, https://github.com/plouc/mozaik/blob/master/packages/ui/package.json#L31

[2019-03-27 20:40] #164 closed

[2019-03-29 08:47] sjayanths opened #172 "build failed when jsx syntax added"
I tried to add minio extention to the mozaik by running yarn add mozaik-ext-minio
I see the following error.

[code]

I observed this issue even in my custom extension.
Ex: `React.createElement("div",null,"Hello world")` is working fine but when i change to `<div> Hello world </div>` is not working.

[2019-03-29 19:46] sjayanths commented on #172
I have given wrong entry for "module".
once i changed to "module": "es/components/index.js",. it started working.

[2019-03-29 19:46] #172 closed

[2019-03-30 06:36] sjayanths opened #173 "error while using widget ui component"
I am writing a custom react component, in which i am using @mozaik UI.
[code]
I see the following error .

[code]

Added dev dependency is

`"@mozaik/ui": "^2.0.0-alpha.11",`

Please help.Thanks

[2019-04-02 07:47] jagtarsingh opened #174 "Display json data"
Hello,

I am trying to display the json data using mozaik-ext-json widget. But I do not see anything on the dashboard except "unknown". I configured the widget as below:

Installed mozaik-ext-json
--> npm install --save mozaik-ext-json

Registered json. Below is the console log when I run node app.js
--> info: registered API 'json' (mode: poll)

Added json file on the same server which is accessib

[2019-04-04 15:26] sjayanths commented on #173
when i run the build for the custom component the node_module contains @mozaik/ui. So when i added this as dependency to mozaik-demo project, the whole custom component project copied along with node_modules folder.
As that already contains mozaik/ui , there is conflict between node_modules/@mozaik/ui and node_modules/mozaik-ext-custom/node_modules/@mozaik/ui.

To fix,
- the build of the custom co

[2019-04-04 15:26] #173 closed

[2019-04-08 15:30] H8to opened #175 "Extension Tutorial for V2"
You have a great documentation on how to write an extension for V1. I've just started and think it would be better to start off with V2 directly.

However there is no documentation like [this](http://mozaik.rocks/v1/hack/).
Maybe you could create one? :)

[2019-04-08 16:15] plouc commented on #175
You should definitely start with v2 :) unfortunately, I won't have the time to write one anytime soon.
For now you could start from an existing extension like [this one](https://github.com/plouc/mozaik-ext-gitlab).

[2019-05-20 23:39] ANVESH96 commented on #118
I got the same issue and resolved it by changing proxy to "http://localhost:5000" instead of "https://localhost:500"

[2019-05-25 16:19] #171 closed

[2019-05-25 16:22] plouc commented on #155
Mozaïk doesn't support this out of the box, and I'm not planning to add this for now, you might be able to achieve this by using the approach suggested by @juhamust however you won't benefit from existing extensions, so I'm not sure Mozaïk is the right tool for your use case.

[2019-05-25 16:22] #155 closed

[2019-05-25 16:25] plouc commented on #133
I'm not planning to add this kind of functionality, Mozaïk isn't the same tool as grafana or kibana (and has way less resources than the teams/companies behind those products :)), those tool were built to allow data exploration while Mozaïk provide a way to give a predefined view of your data.

[2019-05-25 16:25] #133 closed

[2019-05-25 16:28] plouc commented on #167
I agree it could be nice to be able to define some kind of breakpoints to support various resolutions, however it's a big change as you'll have to define the widgets and then attach them to each breakpoint's grid. I'm not planning to add this feature for now.

[2019-05-25 16:32] plouc commented on #121
You can use the notification system, for example:

[code]

[2019-05-25 16:32] #121 closed

[2019-05-25 16:39] plouc commented on #169
Supporting this would require heavy changes on both the UI and the server, and Mozaïk already supports the configuration of several dashboards inside a single config file.

[2019-05-25 16:39] #169 closed

[2019-05-30 23:12] Serverfrog opened #176 "External/Automatic reload of Dashboard configuration"
It would be very usefull, if this is used as a services that it could be possible that the configuration is being reloaded while mozaik is still running.

My use case would be that the dashboards are externally managed and could be modified by users to configure them and see the new Dashboard without calling the Administrators to restart the Application and disconnect every other users (we would u

[2019-05-31 00:19] coooraph commented on #176
@Serverfrog, it's already available in v2. Or maybe I'm not understanding it correctly?
Also, regarding reconnection, it is automatically managed by the frontend (given it doesn't exceed a certain delay).

[2019-05-31 00:27] plouc commented on #176
@Serverfrog, it's already available in v2. Or maybe I'm not understanding it correctly?
Also, regarding reconnection, it is automatically managed by the frontend (given it doesn't exceed a certain delay).

[2019-06-19 20:07] kaburkett commented on #98
Another new one:

- [mozaik-ext-slack](https://github.com/juhamust/mozaik-ext-slack) --> [pull request](https://github.com/juhamust/mozaik-ext-slack/pull/8)

[2019-08-08 21:50] edgewood1 commented on #118
This happened to me due to an error in the server's package.json.  I had copied the package.json from an older app whose "main" property referred to a different server filename than the one I was using in the new app, and so had to correct this.

[2019-09-04 14:47] spikyjt commented on #162
@plouc it's down again

[2019-10-01 20:55] jadok opened #178 "Proxy error: Could not proxy request /config from localhost:3000 to http://localhost:5000."
I follow the instruction to try the demo:
[code]
![yarn-start](https://user-images.githubusercontent.com/4320434/65999599-0157ae80-e49e-11e9-8d2e-9692f492a347.png)

The proxy made to get the configuration from the backend seem to not work, no helpfull information are given through the stack trace.

Please if you have an explanation on what is happening, I am willing to fix it, but actually have no

[2019-10-03 14:50] kapileswaran commented on #118
@gaborszekely U Mean Linux Commands?

[2019-10-26 17:02] Azizul08 commented on #118
I got the same issue and resolved it by start my backend server

[2019-10-28 09:22] jadok commented on #178
Dupplication #118
-> closing

[2019-10-28 09:22] #178 closed, assigned to nobody

[2019-10-28 13:30] WafaBergaoui commented on #118
Just start both back end and front end server concurrently

[2019-10-28 13:35] WafaBergaoui commented on #118
I got the same issue and i resolved it by starting  both backend and frontend server concurrently

[2019-11-23 18:20] jsmartio commented on #118
first see if machine is listening on ports 3000 & 5000
sudo lsof -iTCP -sTCP:LISTEN -n -P
In my case it was not so I had to change my run command

[2019-11-26 05:42] ddcgh opened #180 "Demo disappears after a few seconds, then returns..."
Hi, on my browser the demo fades to nothing after about 7 seconds maybe. Then it comes back.

Is this intentional? Screen shot:

![Screen Shot 2019-11-25 at 9 41 31 PM](https://user-images.githubusercontent.com/6068428/69602440-6d512180-0fcc-11ea-92b8-4190f70419a9.png)

[2019-11-27 00:40] Elko29 opened #181 "Insert JS in widget or dashboard"
Hi, thank you for your great work !
It's not a bug report but only a question.

I use Mozaik V1 and I want to refresh automatically an Iframe in a widget. I use mozaik-ext-embed, to create and use iframe no problem but I don't know how to insert some JS to reload periodically my Iframe ...

Is there a way to add javascript to a widget or to the entire dashboard?

Thanks !
Alex.

[2019-12-02 16:04] mayowDev commented on #118
Problem : after i say "npm start"

in vscode terminal :
Proxy error: Could not proxy request /techs from localhost:3000 to http://localhost:8000/

in chrome:
Cannot read property 'statusText' of undefined

 } catch (err) {
  21 |     dispatch({
  22 |       type: TECHS_ERROR,

  24 |     });
  25 |   }

Solution : i used "npm run dev"

Because i was using  concurrently
    "dev": "concurrently \"n

[2019-12-18 07:18] papyr opened #182 "how to run Mozaik with ASP Core backend"
Can you please ensure other developer communities are also able to implement this. I would be happy to share, once i get this running with ASP Core

[2019-12-18 11:14] plouc commented on #182
Having an agnostic backend is definitely not on the roadmap, you can probably do it, but if something change on the Mozaik side, it means all implementations will have to adapt too, and as the only maintainer of this project, I don't want to also have to deal with internal BC breaks.

[2019-12-20 10:33] BradPrit09 opened #183 "Error in npm-install mozaik demo."
I have been trying to install the moziak demo provide in the getting started .After npm install ,the post-install process is failing .
I have Node.js : 10.16 ; npm :6.9.0 in my system install
[code]

[2020-01-07 17:51] milgner opened #188 "engine.io client requires ES6 to build"
It might be related to #183 but since the error message looks completely different and the setup is different, too, I'm putting this into a separate ticket.
First off: really nice project! The architecture is nicely thought through and very straightforward and the dashboard looks nice, too!

Trying to get it to run (Node 12.14.0, NPM 6.13.4 on Linux), the build script fails with:

[code]

This see

[2020-01-22 23:30] ahmad-ali14 commented on #118
for me, this happened because I was passing undefined value inside objectId() function.
when I checked again and fixed that value >> problem solved

[2020-01-28 21:01] CABRALBRUNO000 commented on #118
fala galera, para este erro, nenhuma das opções resolveram meu problema =(

[2020-02-17 10:57] glennji commented on #180
Not sure if you figured this one out, but I just saw the same and think it might be due to the `config.js` configuration defining 2x dashboards, which it then cycles between i.e. I think the second one is "blank" (for some reason). If you leave it, it comes back (as you mentioned) and there is a:
[code]

[2020-02-25 03:19] bhasinkaran commented on #118
What would be server.js here?
Like where would it be? what file is it and what does it do? thank you!

[2020-03-24 20:58] snapfast commented on #188
I am experiencing the exact same issue. Any solutions to this?

[2020-04-21 21:33] szymonhernik commented on #118
for me the problem was permissions access in the folder with the server files. solved it with giving permissions with `sudo chmod -R 777 /Users/USERNAME/FOLDER`

[2020-05-01 08:50] TesheMaximillan commented on #118
Hey, Please Makesure the backend server is running.

[2020-05-27 17:06] nikhil026 commented on #118
**Although it is not specific to this project**, I got the exact error in my react project when I was trying to proxy request from `http://localhost:3000` to `http://localhost:8080`.

I solved this issue by removing `"proxy": "localhost:8080"` from package.json and creating a setupProxy.js file in the src folder with the following code:

[code]
Reference:  https://create-react-app.dev/docs/proxyin

[2020-06-01 13:42] sela55 commented on #188
Same problem here, is there any way to fix this?

[2020-06-18 21:51] crazyoptimist commented on #118
Thanks a lot!

[2020-06-30 07:32] Ashish1101 commented on #118
use this settings in your package.json file in react

"proxy":"http://localhost:YOUR_BACKEND_PORT"
"secure":false

if the above settings not work then replace localhost with 127.0.0.1

#work for me

source

 https://medium.com/@bryantjiminson/solving-proxy-error-could-not-proxy-request-xxx-from-yyy-from-local-reactjs-app-to-nodejs-app-f28f3548afb9

[2020-07-07 08:11] Rituraj26 commented on #118
I started both server and client in separate terminal
First i started server using **nodemon server.js**
Next in another tab **npm start --prefix client**

[2020-07-08 21:26] hellypi commented on #118
Everyone, make sure you also have the port number defined in your CLIENT package.json "server" property.

So go from `"proxy": "http://localhost"` to `"proxy": "http://localhost:5000"`
Also try adding the `"secure": false ` parameter, seems to help some people.

(oh, and restarting your computer could help as well. It's not the first time that for some reason when I close vscode the port stays in

[2020-07-09 07:36] neelamchawlaCodezeros commented on #118
package.json/backend
{
"name": "backend",
  "version": "1.0.0",
  "description": "",
  "main": "sever.js",
  "type": "module",

[2020-07-09 07:40] nrc555 commented on #118
package.json/backend
{
"name": "backend",
"version": "1.0.0",
"description": "",
"main": "sever.js",
"type": "module",

[2020-07-30 22:09] BingchenLi commented on #118
I tried all of the solutions here and actually **no one is not gonna actually solve this problem**.
In fact this problem is pretty random.
But there is a pattern there, the 'Proxy error' always happens before the 'Server' starts.
That's because the 'client' sends some request before the 'server' starts. Even if you use
"dev": "concurrently "npm run server" "npm run client""
that does not guarantee

[2020-08-27 10:47] ReactExpert123 opened #203 "package.json/backend"
package.json/backend
{
"name": "backend",
"version": "1.0.0",
"description": "",
"main": "sever.js",
"type": "module",

_Originally posted by @nrc555 in https://github.com/plouc/mozaik/issues/118#issuecomment-655961290_

[2020-09-13 06:32] Yafei18 commented on #118
Save my day!!!

[2020-09-20 08:54] Mnabawy commented on #118
actually i found this issue related to the backend server is not running

[2020-10-01 18:47] itielMaimon commented on #118
For anyone who uses Docker, running both back and front ends together with Docker Compose, change your `proxy` value in `package.json` to the name of your back-end container. e.g. `"proxy": "http://server:8080"`.
Your `docker-compose.yaml` file should look similar to this:
[code]

[2020-10-11 17:45] rameez209 commented on #118
I was stuck on this problem for the last 3 days and you solved it. Thank you sooo much 👍

[2020-10-17 00:21] bkerz commented on #118
How can i check if the backend is working well? I don't have any control of the backend. I tried almost all the solutions but none of them worked for me. I spent all the day just in this error. How frustrating it is.

[2021-01-12 19:38] Gaurang-1402 commented on #118
Had the same problem. Realized that I used "https" instead of "http" in package.json while manually typing the proxy

[2021-01-20 15:48] arkhannanov commented on #118
Also one variant what helped me. I changed my port on server. Was "proxy": "http://localhost:7070", changed to "proxy": "http://localhost:7080"

`const express = require('express')
const app = express()

app.disable('etag')
app.use(require('./routes'))

app.listen(7080, () => {
	console.log('BALK stubs are on port 7080!')
	console.log('---')
})
`

[2021-01-22 21:42] weedkiller commented on #182
Hello I am interested in this as well, is there something like reverse swagger to see what we need to implement on the services/server side and put a PR. Needs a starting point.. might take a little time but shouldnt be too hard

[2021-02-16 18:30] Sanchitraina1999 commented on #118
My problem was missing parentheses:
[code]
Changing this to
[code]

[2021-02-25 18:06] papyr commented on #182
Any updates

[2021-03-15 06:27] BilderLoong commented on #118
This solution inspires me, I change my script from
[code]
to
[code]
Then the error message is gone. Maybe something wrong with `concurrently`.

[2021-03-16 08:17] mehaksaini2811 commented on #118
I was using the below configuration
"server": "nodemon server",
    "client": "npm start --prefix client",
    "dev": "concurrently -k \"npm run server\" \"npm run client\"",

and did a restart. Worked for me!

[2021-03-31 13:05] udaypavan11 commented on #118
Check if the issue is with the Monogo connection. I realized that my Password to connect to MongoDB got expired and updated that. Which is working fine for me now.

[2021-04-30 13:05] San411 commented on #118
Thank you worked for me

[2021-05-05 19:18] AvneetSingh27 commented on #118
Thanks for your help. It worked for me

[2021-06-01 05:17] ayushkumar0507 commented on #118
run the backend and frontend simultaneously

"server": "nodemon backend/server",
    "client": "npm start --prefix frontend",
    "dev": "concurrently \"npm run server\" \"npm run client\""

[2021-06-27 21:09] s-pace opened #265 "Demo is down"
👋  team,

It seems that the demo available from http://mozaik.herokuapp.com/ is down as you can see on the following screenshot:
![image](https://user-images.githubusercontent.com/32097720/123559483-891a3c00-d79c-11eb-9e27-4d76fe65da00.png)

Keep it up 🚀

[2021-06-28 00:47] plouc commented on #265
Hey, I use a free heroku dyno, but most of the time, usage exceeds the free tier at the end of the month, and we end up with this issue. As I don't earn any money with this project, I don't plan to change that, sorry.

[2021-06-28 00:47] #265 closed, assigned to nobody

[2021-07-28 17:33] zkldi opened #268 "Is the demo down?"
I don't seem to be able to access http://mozaik.rocks/.

[code]

[2021-08-13 04:22] zkldi commented on #268
Welp, looks like it works now atleast - not sure whether something changed on my end or yours, but i'll go ahead and close this.

[2021-08-13 04:22] #268 closed, assigned to nobody

[2021-09-10 02:26] HelloJack0 commented on #188
how to fix the error?
[3/5] Fetching packages...
info There appears to be trouble with your network connection. Retrying...
info fsevents@1.2.13: The platform "win32" is incompatible with this module.
info "fsevents@1.2.13" is an optional dependency and failed compatibility check. Excluding it from installation.
[4/5] Linking dependencies...
[5/5] Building fresh packages...
success Saved lockfile.

[2021-09-11 07:31] KG1414 commented on #118
Thank you!!!!!! Life saver! Why do i never see this simple tip anywhere?

[2021-10-14 05:50] Brilliant-Atosam commented on #118
This worked for me

[2021-10-27 08:12] shaharjacob commented on #118
Works for me! Thanks!

[2021-10-28 03:24] Saqib-diar commented on #118
Proxy error: Could not proxy request /signup from localhost:3000 to http://localhost:8282/. See https://nodejs.org/api/errors.html#errors_common_system_errors for more information (ECONNREFUSED).

I got  the same issue and I just solved it by only restart both of the server, you need to run both of the server running.

Thanks me ltr:)

[2021-11-16 19:10] dcruqayya opened #288 "localhost:5000 refused to connect postman windows 64bit"
I am learning MERN stack but when I used Postman, I received this error. I do not have proxy on my end. Whenever I try to put proxy I cannot connect to the server. Please help.

[2022-01-08 12:14] ninyhorlah commented on #118
thank you.... this solved mine

[2022-02-09 15:15] Dhiabm1 opened #291 "Proxy error: Could not proxy request /api/products/top from localhost:3000 to http://localhost:8000/. See https://nodejs.org/api/errors.html#errors_common_system_errors for more information (ECONNREFUSED)."
solution

[2022-02-21 08:51] sarangkkl commented on #118
Any idea how to fix it on react app

[2022-04-16 09:40] ktivadar commented on #118
It worked for me! Thank you so much!

[2022-06-21 17:06] Sarah-16 opened #308 "Proxy error: Could not proxy request /api/workouts from localhost:3001 to http://localhost:3001/ (ECONNREFUSED)."

[2022-06-28 14:13] mohammedsaif-fb opened #310 "Demo hosted on Heroku doesn't work"
The demo hosted at http://mozaik.herokuapp.com/  is not working.

[2022-08-15 18:40] sundaysamuel250 commented on #118
Proxy error: Could not proxy request /contact from localhost:3000 to http://localhost:8080/.
[1] See https://nodejs.org/api/errors.html#errors_common_system_errors for more information (ECONNREFUSED).

above is the error from application the original port is 8080 but is showing port 3000 on my UI

[2022-08-25 19:15] ferdy-design commented on #118
I'm completely new to React and working on a Mac M1 computer. I was trying to fetch data from python flask application running on the same machine on port 5000.  I set "proxy": "http://127.0.0.1:5000" in package.json file, but react couldn't fetch "/profile" from the flask application.

After reading some of the answers here, it made sense that I needed to change the react host, so I ran
`export H